$colorColorsCoreBlueBlue50: #e6edf7;    
$colorColorsCoreBlueBlue100: #b0c6e6;    
$colorColorsCoreBlueBlue200: #8aaad9;    
$colorColorsCoreBlueBlue300: #5483c8;    
$colorColorsCoreBlueBlue400: #0072ce;    
$colorColorsCoreBlueBlue500: #0046ad;    
$colorColorsCoreBlueBlue600: #00409d;    
$colorColorsCoreBlueBlue700: #00327b;    
$colorColorsCoreBlueBlue800: #00275f;    
$colorColorsCoreBlueBlue900: #001d49;    
$colorColorsCoreNeutralsBlack: #000000;    
$colorColorsCoreNeutralsWhite: #ffffff;    
$colorColorsCoreNeutralsTransparent: #ffffff03;    
$colorColorsCoreGreenGreen50: #e6f2eb;    
$colorColorsCoreGreenGreen100: #b0d6c0;    
$colorColorsCoreGreenGreen200: #8ac2a1;    
$colorColorsCoreGreenGreen300: #54a676;    
$colorColorsCoreGreenGreen400: #33955c;    
$colorColorsCoreGreenGreen500: #007a33;    
$colorColorsCoreGreenGreen600: #006f2e;    
$colorColorsCoreGreenGreen700: #005724;    
$colorColorsCoreGreenGreen800: #00431c;    
$colorColorsCoreGreenGreen900: #003315;    
$colorColorsCoreRedRed50: #f8e8eb;    
$colorColorsCoreRedRed100: #e9b6c2;    
$colorColorsCoreRedRed200: #de93a4;    
$colorColorsCoreRedRed300: #cf627b;    
$colorColorsCoreRedRed400: #c54461;    
$colorColorsCoreRedRed500: #b7153a;    
$colorColorsCoreRedRed600: #a71335;    
$colorColorsCoreRedRed700: #820f29;    
$colorColorsCoreRedRed800: #650c20;    
$colorColorsCoreRedRed900: #4d0918;    
$colorColorsCorePurple50: #faf5ff;    
$colorColorsCorePurple100: #f3e8ff;    
$colorColorsCorePurple200: #e9d5ff;    
$colorColorsCorePurple300: #d8b4fe;    
$colorColorsCorePurple400: #c084fc;    
$colorColorsCorePurple500: #a855f7;    
$colorColorsCorePurple600: #9333ea;    
$colorColorsCorePurple700: #7e22ce;    
$colorColorsCorePurple800: #6b21a8;    
$colorColorsCorePurple900: #581c87;    
$colorColorsCoreAmberAmber50: #fef6e6;    
$colorColorsCoreAmberAmber100: #fbe4b0;    
$colorColorsCoreAmberAmber200: #f9d78a;    
$colorColorsCoreAmberAmber300: #f6c554;    
$colorColorsCoreAmberAmber400: #f5ba33;    
$colorColorsCoreAmberAmber500: #f2a900;    
$colorColorsCoreAmberAmber600: #dc9a00;    
$colorColorsCoreAmberAmber700: #ac7800;    
$colorColorsCoreAmberAmber800: #855d00;    
$colorColorsCoreAmberAmber900: #664700;    
$colorColorsCoreGreyGrey50: #f0f0f0;    
$colorColorsCoreGreyGrey100: #d0d0d0;    
$colorColorsCoreGreyGrey200: #b9b9b9;    
$colorColorsCoreGreyGrey300: #989898;    
$colorColorsCoreGreyGrey400: #858585;    
$colorColorsCoreGreyGrey500: #666666;    
$colorColorsCoreGreyGrey600: #5d5d5d;    
$colorColorsCoreGreyGrey700: #484848;    
$colorColorsCoreGreyGrey800: #383838;    
$colorColorsCoreGreyGrey900: #2b2b2b;    
$colorColorsSemanticFgDefault: $colorColorsCoreGreyGrey800;    
$colorColorsSemanticFgMuted: $colorColorsCoreGreyGrey500;    
$colorColorsSemanticFgSubtle: $colorColorsCoreGreyGrey300;    
$colorColorsSemanticFgOnAccent: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticFgOnDisabled: $colorColorsCoreGreyGrey300;    
$colorColorsSemanticFgDisabled: $colorColorsCoreGreyGrey50;    
$colorColorsSemanticCtaDefault: $colorColorsCoreBlueBlue400;    
$colorColorsSemanticFgAccent: $colorColorsSemanticCtaDefault;    
$colorColorsSemanticBgSurface: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticBgMuted: $colorColorsCoreGreyGrey500;    
$colorColorsSemanticBgSubtle: $colorColorsCoreGreyGrey100;    
$colorColorsSemanticBgDisabled: $colorColorsCoreGreyGrey50;    
$colorColorsSemanticBgCanvas: $colorColorsCoreBlueBlue50;    
$colorColorsSemanticCtaEmphasised: $colorColorsCoreBlueBlue500;    
$colorColorsSemanticCtaMuted: $colorColorsCoreBlueBlue300;    
$colorColorsSemanticCtaSubtle: $colorColorsCoreBlueBlue100;    
$colorColorsSemanticCtaDisabled: $colorColorsCoreGreyGrey300;    
$colorColorsSemanticPrimaryDefault: $colorColorsCoreBlueBlue400;    
$colorColorsSemanticPrimaryEmphasised: $colorColorsCoreBlueBlue500;    
$colorColorsSemanticPrimaryMuted: $colorColorsCoreBlueBlue300;    
$colorColorsSemanticPrimarySubtle: $colorColorsCoreBlueBlue100;    
$colorColorsSemanticPrimaryDisabled: $colorColorsCoreGreyGrey300;    
$colorColorsSemanticSecondaryDefault: $colorColorsCoreGreyGrey800;    
$colorColorsSemanticSecondaryEmphasised: $colorColorsCoreGreyGrey700;    
$colorColorsSemanticSecondaryMuted: $colorColorsCoreGreyGrey500;    
$colorColorsSemanticSecondarySubtle: $colorColorsCoreGreyGrey100;    
$colorColorsSemanticSecondaryDisabled: $colorColorsCoreGreyGrey300;    
$colorColorsSemanticWarningFg: $colorColorsCoreAmberAmber500;    
$colorColorsSemanticWarningEmphasised: $colorColorsCoreAmberAmber600;    
$colorColorsSemanticWarningMuted: $colorColorsCoreAmberAmber400;    
$colorColorsSemanticWarningSubtle: $colorColorsCoreAmberAmber100;    
$colorColorsSemanticWarningOnWarning: $colorColorsCoreGreyGrey800;    
$colorColorsSemanticErrorFg: $colorColorsCoreRedRed500;    
$colorColorsSemanticErrorEmphasised: $colorColorsCoreRedRed600;    
$colorColorsSemanticErrorMuted: $colorColorsCoreRedRed400;    
$colorColorsSemanticErrorSubtle: $colorColorsCoreRedRed100;    
$colorColorsSemanticErrorOnError: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticInfoFg: $colorColorsCoreBlueBlue500;    
$colorColorsSemanticInfoEmphasised: $colorColorsCoreBlueBlue600;    
$colorColorsSemanticInfoMuted: $colorColorsCoreBlueBlue400;    
$colorColorsSemanticInfoSubtle: $colorColorsCoreBlueBlue100;    
$colorColorsSemanticInfoOnInfo: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticSuccessFg: $colorColorsCoreGreenGreen500;    
$colorColorsSemanticSuccessEmphasised: $colorColorsCoreGreenGreen600;    
$colorColorsSemanticSuccessMuted: $colorColorsCoreGreenGreen400;    
$colorColorsSemanticSuccessSubtle: $colorColorsCoreGreenGreen100;    
$colorColorsSemanticSuccessOnSuccess: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticHelpFg: $colorColorsCorePurple500;    
$colorColorsSemanticHelpEmphasised: $colorColorsCorePurple600;    
$colorColorsSemanticHelpMuted: $colorColorsCorePurple400;    
$colorColorsSemanticHelpSubtle: $colorColorsCorePurple100;    
$colorColorsSemanticHelpOnSuccess: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticNeutralFg: $colorColorsCoreGreyGrey400;    
$colorColorsSemanticNeutralEmphasised: $colorColorsCoreGreyGrey500;    
$colorColorsSemanticNeutralMuted: $colorColorsCoreGreyGrey300;    
$colorColorsSemanticNeutralSubtle: $colorColorsCoreGreyGrey100;    
$colorColorsSemanticNeutralOnSuccess: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticInputsBackground: $colorColorsSemanticBgSurface;    
$colorColorsSemanticInputsText: $colorColorsSemanticFgMuted;    
$colorColorsSemanticInputsPlaceholder: $colorColorsSemanticFgSubtle;    
$colorColorsSemanticInputsDefaultLabel: $colorColorsSemanticNeutralFg;    
$colorColorsSemanticInputsDefaultIconColor: $colorColorsSemanticFgDefault;    
$colorColorsSemanticBorderDefault: $colorColorsSemanticBgSubtle;    
$colorColorsSemanticInputsDefaultBorderColor: $colorColorsSemanticBorderDefault;    
$colorColorsSemanticTypographyDefault: $colorColorsCoreGreyGrey800;    
$colorColorsSemanticInputsDefaultTextColor: $colorColorsSemanticTypographyDefault;    
$colorColorsSemanticInputsDefaultBackgroundColor: $colorColorsSemanticInputsBackground;    
$colorColorsSemanticInputsSelectedBorderColor: $colorColorsSemanticCtaDefault;    
$colorColorsSemanticInputsSelectedTextColor: $colorColorsSemanticCtaDefault;    
$colorColorsSemanticInputsSelectedIconColor: $colorColorsSemanticCtaDefault;    
$colorColorsSemanticInputsSelectedHoverBorderColor: $colorColorsSemanticCtaMuted;    
$colorColorsSemanticInputsSelectedHoverTextColor: $colorColorsSemanticCtaMuted;    
$colorColorsSemanticInputsSelectedHoverIconColor: $colorColorsSemanticCtaMuted;    
$colorColorsSemanticInputsSelectedHoverBackgroundColor: $colorColorsSemanticInputsBackground;    
$colorColorsSemanticInputsSelectedBackgroundColor: $colorColorsSemanticInputsBackground;    
$colorColorsSemanticInputsErrorBorderColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticInputsErrorTextColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticInputsErrorIconColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticInputsErrorBackgroundColor: $colorColorsSemanticInputsBackground;    
$colorColorsSemanticInputsDisabledBackgroundColor: $colorColorsSemanticBgDisabled;    
$colorColorsSemanticInputsDisabledTextColor: $colorColorsSemanticFgOnDisabled;    
$colorColorsSemanticInputsDisabledIconColor: $colorColorsSemanticFgOnDisabled;    
$colorColorsSemanticInputsBorderDisabled: $colorColorsSemanticFgOnDisabled;    
$colorColorsSemanticInputsDisabledBorderColor: $colorColorsSemanticInputsBorderDisabled;    
$colorColorsSemanticInputsHoverBackgroundColor: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticInputsBorderDefault: $colorColorsSemanticBgMuted;    
$colorColorsSemanticInputsHoverBorderColor: $colorColorsSemanticInputsBorderDefault;    
$colorColorsSemanticInputsHoverTextColor: $colorColorsSemanticInputsText;    
$colorColorsSemanticInputsHoverIconColor: $colorColorsSemanticInputsText;    
$colorColorsSemanticInputsFocusBorderColor: $colorColorsSemanticCtaDefault;    
$colorColorsSemanticInputsFocusIconColor: $colorColorsSemanticFgDefault;    
$colorColorsSemanticInputsFocusFocusRing: $colorColorsCoreBlueBlue50;    
$colorColorsSemanticInputsFocusTextColor: $colorColorsSemanticTypographyDefault;    
$colorColorsSemanticInputsFocusBackgroundColor: $colorColorsSemanticInputsBackground;    
$colorColorsSemanticInputsFgDisabled: $colorColorsSemanticFgDisabled;    
$colorColorsSemanticInputsWarningBorderColor: $colorColorsSemanticWarningFg;    
$colorColorsSemanticInputsWarningTextColor: $colorColorsSemanticWarningFg;    
$colorColorsSemanticInputsWarningIconColor: $colorColorsSemanticWarningFg;    
$colorColorsSemanticInputsWarningBackgroundColor: $colorColorsSemanticInputsBackground;    
$colorColorsSemanticInputsSuccessBorderColor: $colorColorsSemanticSuccessFg;    
$colorColorsSemanticInputsSuccessTextColor: $colorColorsSemanticSuccessFg;    
$colorColorsSemanticInputsSuccessIconColor: $colorColorsSemanticSuccessFg;    
$colorColorsSemanticInputsSuccessBackgroundColor: $colorColorsSemanticInputsBackground;    
$colorColorsSemanticActionsNegativeDefaultBorderColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticActionsNegativeDefaultQuietBorderColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsNegativeDefaultTextColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticActionsNegativeDefaultQuietTextColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticActionsNegativeDefaultBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsNegativeDefaultQuietBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsNegativeHoverBorderColor: $colorColorsSemanticErrorMuted;    
$colorColorsSemanticActionsNegativeHoverQuietBorderColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsNegativeHoverTextColor: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticActionsNegativeHoverQuietTextColor: $colorColorsSemanticErrorMuted;    
$colorColorsSemanticActionsNegativeHoverBackgroundColor: $colorColorsSemanticErrorMuted;    
$colorColorsSemanticActionsNegativeHoverQuietBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsNegativeActiveBorderColor: $colorColorsSemanticErrorEmphasised;    
$colorColorsSemanticActionsNegativeActiveQuietBorderColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsNegativeActiveTextColor: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticActionsNegativeActiveQuietTextColor: $colorColorsSemanticErrorEmphasised;    
$colorColorsSemanticActionsNegativeActiveBackgroundColor: $colorColorsSemanticErrorEmphasised;    
$colorColorsSemanticActionsNegativeActiveQuietBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsNegativeFocusBorderColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticActionsNegativeFocusQuietBorderColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsNegativeFocusTextColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticActionsNegativeFocusQuietTextColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticActionsNegativeFocusBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsNegativeFocusQuietBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsCtaDefaultBorderColor: $colorColorsSemanticCtaDefault;    
$colorColorsSemanticActionsCtaDefaultTextColor: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticActionsCtaDefaultBackgroundColor: $colorColorsSemanticCtaDefault;    
$colorColorsSemanticActionsCtaHoverBorderColor: $colorColorsSemanticCtaEmphasised;    
$colorColorsSemanticActionsCtaHoverTextColor: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticActionsCtaHoverBackgroundColor: $colorColorsSemanticCtaEmphasised;    
$colorColorsSemanticActionsCtaActiveBorderColor: $colorColorsSemanticCtaEmphasised;    
$colorColorsSemanticActionsCtaActiveTextColor: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticActionsCtaActiveBackgroundColor: $colorColorsSemanticCtaEmphasised;    
$colorColorsSemanticActionsCtaFocusBorderColor: $colorColorsSemanticActionsCtaHoverBorderColor;    
$colorColorsSemanticActionsCtaFocusTextColor: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticActionsCtaFocusBackgroundColor: $colorColorsSemanticCtaDefault;    
$colorColorsSemanticActionsPrimaryDefaultBorderColor: $colorColorsSemanticPrimaryDefault;    
$colorColorsSemanticActionsPrimaryDefaultQuietBorderColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsPrimaryDefaultTextColor: $colorColorsSemanticPrimaryDefault;    
$colorColorsSemanticActionsPrimaryDefaultQuietTextColor: $colorColorsSemanticPrimaryDefault;    
$colorColorsSemanticActionsPrimaryDefaultBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsPrimaryDefaultQuietBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsPrimaryHoverBorderColor: $colorColorsSemanticPrimaryMuted;    
$colorColorsSemanticActionsPrimaryHoverQuietBorderColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsPrimaryHoverTextColor: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticActionsPrimaryHoverQuietTextColor: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticActionsPrimaryHoverBackgroundColor: $colorColorsSemanticPrimaryMuted;    
$colorColorsSemanticActionsPrimaryHoverQuietBackgroundColor: $colorColorsSemanticPrimaryMuted;    
$colorColorsSemanticActionsPrimaryActiveBorderColor: $colorColorsSemanticPrimaryEmphasised;    
$colorColorsSemanticActionsPrimaryActiveQuietBorderColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsPrimaryActiveTextColor: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticActionsPrimaryActiveQuietTextColor: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticActionsPrimaryActiveBackgroundColor: $colorColorsSemanticPrimaryEmphasised;    
$colorColorsSemanticActionsPrimaryActiveQuietBackgroundColor: $colorColorsSemanticPrimaryEmphasised;    
$colorColorsSemanticActionsPrimaryFocusBorderColor: $colorColorsSemanticPrimaryDefault;    
$colorColorsSemanticActionsPrimaryFocusQuietBorderColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsPrimaryFocusTextColor: $colorColorsSemanticPrimaryDefault;    
$colorColorsSemanticActionsPrimaryFocusQuietTextColor: $colorColorsSemanticPrimaryDefault;    
$colorColorsSemanticActionsPrimaryFocusBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsPrimaryFocusQuietBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsSecondaryDefaultBorderColor: $colorColorsSemanticSecondaryDefault;    
$colorColorsSemanticActionsSecondaryDefaultQuietBorderColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsSecondaryDefaultTextColor: $colorColorsSemanticSecondaryDefault;    
$colorColorsSemanticActionsSecondaryDefaultQuietTextColor: $colorColorsSemanticSecondaryDefault;    
$colorColorsSemanticActionsSecondaryDefaultBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsSecondaryDefaultQuietBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsSecondaryHoverBorderColor: $colorColorsSemanticSecondaryMuted;    
$colorColorsSemanticActionsSecondaryHoverQuietBorderColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsSecondaryHoverTextColor: $colorColorsSemanticSecondaryDefault;    
$colorColorsSemanticActionsSecondaryHoverQuietTextColor: $colorColorsSemanticSecondaryDefault;    
$colorColorsSemanticActionsSecondaryHoverBackgroundColor: $colorColorsSemanticSecondaryMuted;    
$colorColorsSemanticActionsSecondaryHoverQuietBackgroundColor: $colorColorsSemanticSecondaryMuted;    
$colorColorsSemanticActionsSecondaryActiveBorderColor: $colorColorsSemanticSecondaryEmphasised;    
$colorColorsSemanticActionsSecondaryActiveQuietBorderColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsSecondaryActiveTextColor: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticActionsSecondaryActiveQuietTextColor: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticActionsSecondaryActiveBackgroundColor: $colorColorsSemanticSecondaryEmphasised;    
$colorColorsSemanticActionsSecondaryActiveQuietBackgroundColor: $colorColorsSemanticSecondaryEmphasised;    
$colorColorsSemanticActionsSecondaryFocusBorderColor: $colorColorsSemanticSecondaryDefault;    
$colorColorsSemanticActionsSecondaryFocusQuietBorderColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsSecondaryFocusTextColor: $colorColorsSemanticSecondaryDefault;    
$colorColorsSemanticActionsSecondaryFocusQuietTextColor: $colorColorsSemanticSecondaryDefault;    
$colorColorsSemanticActionsSecondaryFocusBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsSecondaryFocusQuietBackgroundColor: $colorColorsCoreNeutralsTransparent;    
$colorColorsSemanticActionsDisabledBackgroundColor: $colorColorsSemanticFgDisabled;    
$colorColorsSemanticActionsDisabledTextColor: $colorColorsSemanticFgOnDisabled;    
$colorColorsSemanticActionsDisabledBorderColor: $colorColorsSemanticFgDisabled;    
$colorColorsSemanticFeedbackInfoBorderColor: $colorColorsSemanticInfoFg;    
$colorColorsSemanticFeedbackInfoTextColor: $colorColorsSemanticInfoFg;    
$colorColorsSemanticFeedbackInfoIconColor: $colorColorsSemanticInfoFg;    
$colorColorsSemanticFeedbackInfoBackgroundColor: $colorColorsSemanticInfoSubtle;    
$colorColorsSemanticFeedbackWarningBorderColor: $colorColorsSemanticWarningFg;    
$colorColorsSemanticFeedbackWarningTextColor: $colorColorsSemanticWarningFg;    
$colorColorsSemanticFeedbackWarningIconColor: $colorColorsSemanticWarningFg;    
$colorColorsSemanticFeedbackWarningBackgroundColor: $colorColorsSemanticWarningSubtle;    
$colorColorsSemanticFeedbackSuccessBorderColor: $colorColorsSemanticSuccessFg;    
$colorColorsSemanticFeedbackSuccessTextColor: $colorColorsSemanticSuccessFg;    
$colorColorsSemanticFeedbackSuccessIconColor: $colorColorsSemanticSuccessFg;    
$colorColorsSemanticFeedbackSuccessBackgroundColor: $colorColorsSemanticSuccessSubtle;    
$colorColorsSemanticFeedbackHelpBorderColor: $colorColorsSemanticHelpFg;    
$colorColorsSemanticFeedbackHelpTextColor: $colorColorsSemanticHelpFg;    
$colorColorsSemanticFeedbackHelpIconColor: $colorColorsSemanticHelpFg;    
$colorColorsSemanticFeedbackHelpBackgroundColor: $colorColorsSemanticHelpSubtle;    
$colorColorsSemanticFeedbackNeutralBorderColor: $colorColorsSemanticNeutralFg;    
$colorColorsSemanticFeedbackNeutralTextColor: $colorColorsSemanticNeutralFg;    
$colorColorsSemanticFeedbackNeutralIconColor: $colorColorsSemanticNeutralFg;    
$colorColorsSemanticFeedbackNeutralBackgroundColor: $colorColorsSemanticNeutralSubtle;    
$colorColorsSemanticFeedbackErrorBorderColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticFeedbackErrorTextColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticFeedbackErrorIconColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticFeedbackErrorBackgroundColor: $colorColorsSemanticErrorSubtle;    
$colorColorsSemanticTypographyOnBackground: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticStatusInfoBorderColor: $colorColorsSemanticInfoFg;    
$colorColorsSemanticStatusInfoTextColor: $colorColorsSemanticInfoFg;    
$colorColorsSemanticStatusInfoIconColor: $colorColorsSemanticInfoFg;    
$colorColorsSemanticStatusInfoBackgroundColor: $colorColorsSemanticInfoSubtle;    
$colorColorsSemanticStatusWarningBorderColor: $colorColorsSemanticWarningFg;    
$colorColorsSemanticStatusWarningTextColor: $colorColorsSemanticWarningFg;    
$colorColorsSemanticStatusWarningIconColor: $colorColorsSemanticWarningFg;    
$colorColorsSemanticStatusWarningBackgroundColor: $colorColorsSemanticWarningSubtle;    
$colorColorsSemanticStatusSuccessBorderColor: $colorColorsSemanticSuccessFg;    
$colorColorsSemanticStatusSuccessTextColor: $colorColorsSemanticSuccessFg;    
$colorColorsSemanticStatusSuccessIconColor: $colorColorsSemanticSuccessFg;    
$colorColorsSemanticStatusSuccessBackgroundColor: $colorColorsSemanticSuccessSubtle;    
$colorColorsSemanticStatusHelpBorderColor: $colorColorsSemanticHelpFg;    
$colorColorsSemanticStatusHelpTextColor: $colorColorsSemanticHelpFg;    
$colorColorsSemanticStatusHelpIconColor: $colorColorsSemanticHelpFg;    
$colorColorsSemanticStatusHelpBackgroundColor: $colorColorsSemanticHelpSubtle;    
$colorColorsSemanticStatusNeutralBorderColor: $colorColorsSemanticNeutralFg;    
$colorColorsSemanticStatusNeutralTextColor: $colorColorsSemanticNeutralFg;    
$colorColorsSemanticStatusNeutralIconColor: $colorColorsSemanticNeutralFg;    
$colorColorsSemanticStatusNeutralBackgroundColor: $colorColorsSemanticNeutralSubtle;    
$colorColorsSemanticStatusErrorBorderColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticStatusErrorTextColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticStatusErrorIconColor: $colorColorsSemanticErrorFg;    
$colorColorsSemanticStatusErrorBackgroundColor: $colorColorsSemanticErrorSubtle;    
$colorColorsSemanticContainerDefault: $colorColorsCoreGreyGrey500;    
$colorColorsSemanticContainerOnBackground: $colorColorsCoreNeutralsWhite;    
$colorColorsSemanticNavigationBackgroundColor: $colorColorsSemanticCtaDefault;    
$colorColorsSemanticNavigationBorderColor: $colorColorsSemanticCtaEmphasised;    
$colorColorsSemanticNavigationFontColor: $colorColorsSemanticFgOnAccent;    
$colorColorsSemanticNavigationIconColor: $colorColorsSemanticFgOnAccent;    
$colorColorsSemanticFocusBorderColor: $colorColorsSemanticCtaSubtle;    
$colorColorsCompButtonCtaDefaultBackgroundColor: $colorColorsSemanticActionsCtaDefaultBackgroundColor;    
$colorColorsCompButtonCtaDefaultTextColor: $colorColorsSemanticActionsCtaDefaultTextColor;    
$colorColorsCompButtonCtaDefaultBorderColor: $colorColorsSemanticActionsCtaDefaultBorderColor;    
$colorColorsCompButtonCtaDefaultIconColor: $colorColorsSemanticActionsCtaDefaultTextColor;    
$colorColorsCompButtonCtaHoverBackgroundColor: $colorColorsSemanticActionsCtaHoverBackgroundColor;    
$colorColorsCompButtonCtaHoverTextColor: $colorColorsSemanticActionsCtaHoverTextColor;    
$colorColorsCompButtonCtaHoverBorderColor: $colorColorsSemanticActionsCtaHoverBorderColor;    
$colorColorsCompButtonCtaHoverIconColor: $colorColorsSemanticActionsCtaHoverTextColor;    
$colorColorsCompButtonCtaActiveBackgroundColor: $colorColorsSemanticActionsCtaActiveBackgroundColor;    
$colorColorsCompButtonCtaActiveTextColor: $colorColorsSemanticActionsCtaActiveTextColor;    
$colorColorsCompButtonCtaActiveBorderColor: $colorColorsSemanticActionsCtaActiveBorderColor;    
$colorColorsCompButtonCtaActiveIconColor: $colorColorsSemanticActionsCtaActiveTextColor;    
$colorColorsCompButtonCtaFocusBackgroundColor: $colorColorsSemanticActionsCtaFocusBackgroundColor;    
$colorColorsCompButtonCtaFocusTextColor: $colorColorsSemanticActionsCtaFocusTextColor;    
$colorColorsCompButtonCtaFocusBorderColor: $colorColorsSemanticActionsCtaFocusBorderColor;    
$colorColorsCompButtonCtaFocusIconColor: $colorColorsSemanticActionsCtaFocusTextColor;    
$colorColorsCompButtonPrimaryDefaultBackgroundColor: $colorColorsSemanticActionsPrimaryDefaultBackgroundColor;    
$colorColorsCompButtonPrimaryDefaultQuietBackgroundColor: $colorColorsSemanticActionsPrimaryDefaultQuietBackgroundColor;    
$colorColorsCompButtonPrimaryDefaultTextColor: $colorColorsSemanticActionsPrimaryDefaultTextColor;    
$colorColorsCompButtonPrimaryDefaultQuietTextColor: $colorColorsSemanticActionsPrimaryDefaultQuietTextColor;    
$colorColorsCompButtonPrimaryDefaultBorderColor: $colorColorsSemanticActionsPrimaryDefaultBorderColor;    
$colorColorsCompButtonPrimaryDefaultQuietBorderColor: $colorColorsSemanticActionsPrimaryDefaultQuietBorderColor;    
$colorColorsCompButtonPrimaryDefaultIconColor: $colorColorsSemanticActionsPrimaryDefaultTextColor;    
$colorColorsCompButtonPrimaryDefaultQuietIconColor: $colorColorsSemanticActionsPrimaryDefaultQuietTextColor;    
$colorColorsCompButtonPrimaryHoverBackgroundColor: $colorColorsSemanticActionsPrimaryHoverBackgroundColor;    
$colorColorsCompButtonPrimaryHoverQuietBackgroundColor: $colorColorsSemanticActionsPrimaryHoverQuietBackgroundColor;    
$colorColorsCompButtonPrimaryHoverTextColor: $colorColorsSemanticActionsPrimaryHoverTextColor;    
$colorColorsCompButtonPrimaryHoverQuietTextColor: $colorColorsSemanticActionsPrimaryHoverQuietTextColor;    
$colorColorsCompButtonPrimaryHoverBorderColor: $colorColorsSemanticActionsPrimaryHoverBorderColor;    
$colorColorsCompButtonPrimaryHoverQuietBorderColor: $colorColorsSemanticActionsPrimaryHoverQuietBorderColor;    
$colorColorsCompButtonPrimaryHoverIconColor: $colorColorsSemanticActionsPrimaryHoverTextColor;    
$colorColorsCompButtonPrimaryHoverQuietIconColor: $colorColorsSemanticActionsPrimaryHoverQuietTextColor;    
$colorColorsCompButtonPrimaryActiveBackgroundColor: $colorColorsSemanticActionsPrimaryActiveBackgroundColor;    
$colorColorsCompButtonPrimaryActiveQuietBackgroundColor: $colorColorsSemanticActionsPrimaryActiveQuietBackgroundColor;    
$colorColorsCompButtonPrimaryActiveTextColor: $colorColorsSemanticActionsPrimaryActiveTextColor;    
$colorColorsCompButtonPrimaryActiveQuietTextColor: $colorColorsSemanticActionsPrimaryActiveQuietTextColor;    
$colorColorsCompButtonPrimaryActiveBorderColor: $colorColorsSemanticActionsPrimaryActiveBorderColor;    
$colorColorsCompButtonPrimaryActiveQuietBorderColor: $colorColorsSemanticActionsPrimaryActiveQuietBorderColor;    
$colorColorsCompButtonPrimaryActiveIconColor: $colorColorsSemanticActionsPrimaryActiveTextColor;    
$colorColorsCompButtonPrimaryActiveQuietIconColor: $colorColorsSemanticActionsPrimaryActiveQuietTextColor;    
$colorColorsCompButtonPrimaryFocusBackgroundColor: $colorColorsSemanticActionsPrimaryFocusBackgroundColor;    
$colorColorsCompButtonPrimaryFocusQuietBackgroundColor: $colorColorsSemanticActionsPrimaryFocusQuietBackgroundColor;    
$colorColorsCompButtonPrimaryFocusTextColor: $colorColorsSemanticActionsPrimaryFocusTextColor;    
$colorColorsCompButtonPrimaryFocusQuietTextColor: $colorColorsSemanticActionsPrimaryFocusQuietTextColor;    
$colorColorsCompButtonPrimaryFocusBorderColor: $colorColorsSemanticActionsPrimaryFocusBorderColor;    
$colorColorsCompButtonPrimaryFocusQuietBorderColor: $colorColorsSemanticActionsPrimaryFocusQuietBorderColor;    
$colorColorsCompButtonPrimaryFocusIconColor: $colorColorsSemanticActionsPrimaryFocusTextColor;    
$colorColorsCompButtonPrimaryFocusQuietIconColor: $colorColorsSemanticActionsPrimaryFocusQuietTextColor;    
$colorColorsCompButtonSecondaryDefaultBackgroundColor: $colorColorsSemanticActionsSecondaryDefaultBackgroundColor;    
$colorColorsCompButtonSecondaryDefaultQuietBackgroundColor: $colorColorsSemanticActionsSecondaryDefaultQuietBackgroundColor;    
$colorColorsCompButtonSecondaryDefaultTextColor: $colorColorsSemanticActionsSecondaryDefaultTextColor;    
$colorColorsCompButtonSecondaryDefaultQuietTextColor: $colorColorsSemanticActionsSecondaryDefaultQuietTextColor;    
$colorColorsCompButtonSecondaryDefaultBorderColor: $colorColorsSemanticActionsSecondaryDefaultBorderColor;    
$colorColorsCompButtonSecondaryDefaultQuietBorderColor: $colorColorsSemanticActionsSecondaryDefaultQuietBorderColor;    
$colorColorsCompButtonSecondaryDefaultIconColor: $colorColorsSemanticActionsSecondaryDefaultTextColor;    
$colorColorsCompButtonSecondaryDefaultQuietIconColor: $colorColorsSemanticActionsSecondaryDefaultQuietTextColor;    
$colorColorsCompButtonSecondaryHoverBackgroundColor: $colorColorsSemanticActionsSecondaryHoverBackgroundColor;    
$colorColorsCompButtonSecondaryHoverQuietBackgroundColor: $colorColorsSemanticActionsSecondaryHoverQuietBackgroundColor;    
$colorColorsCompButtonSecondaryHoverTextColor: $colorColorsSemanticActionsSecondaryHoverTextColor;    
$colorColorsCompButtonSecondaryHoverQuietTextColor: $colorColorsSemanticActionsSecondaryHoverQuietTextColor;    
$colorColorsCompButtonSecondaryHoverBorderColor: $colorColorsSemanticActionsSecondaryHoverBorderColor;    
$colorColorsCompButtonSecondaryHoverQuietBorderColor: $colorColorsSemanticActionsSecondaryHoverQuietBorderColor;    
$colorColorsCompButtonSecondaryHoverIconColor: $colorColorsSemanticActionsSecondaryHoverTextColor;    
$colorColorsCompButtonSecondaryHoverQuietIconColor: $colorColorsSemanticActionsSecondaryHoverQuietTextColor;    
$colorColorsCompButtonSecondaryActiveBackgroundColor: $colorColorsSemanticActionsSecondaryActiveBackgroundColor;    
$colorColorsCompButtonSecondaryActiveQuietBackgroundColor: $colorColorsSemanticActionsSecondaryActiveQuietBackgroundColor;    
$colorColorsCompButtonSecondaryActiveTextColor: $colorColorsSemanticActionsSecondaryActiveTextColor;    
$colorColorsCompButtonSecondaryActiveQuietTextColor: $colorColorsSemanticActionsSecondaryActiveQuietTextColor;    
$colorColorsCompButtonSecondaryActiveBorderColor: $colorColorsSemanticActionsSecondaryActiveBorderColor;    
$colorColorsCompButtonSecondaryActiveQuietBorderColor: $colorColorsSemanticActionsSecondaryActiveQuietBorderColor;    
$colorColorsCompButtonSecondaryActiveIconColor: $colorColorsSemanticActionsSecondaryActiveTextColor;    
$colorColorsCompButtonSecondaryActiveQuietIconColor: $colorColorsSemanticActionsSecondaryActiveQuietTextColor;    
$colorColorsCompButtonSecondaryFocusBackgroundColor: $colorColorsSemanticActionsSecondaryFocusBackgroundColor;    
$colorColorsCompButtonSecondaryFocusQuietBackgroundColor: $colorColorsSemanticActionsSecondaryFocusQuietBackgroundColor;    
$colorColorsCompButtonSecondaryFocusTextColor: $colorColorsSemanticActionsSecondaryFocusTextColor;    
$colorColorsCompButtonSecondaryFocusQuietTextColor: $colorColorsSemanticActionsSecondaryFocusQuietTextColor;    
$colorColorsCompButtonSecondaryFocusBorderColor: $colorColorsSemanticActionsSecondaryFocusBorderColor;    
$colorColorsCompButtonSecondaryFocusQuietBorderColor: $colorColorsSemanticActionsSecondaryFocusQuietBorderColor;    
$colorColorsCompButtonSecondaryFocusIconColor: $colorColorsSemanticActionsSecondaryFocusTextColor;    
$colorColorsCompButtonSecondaryFocusQuietIconColor: $colorColorsSemanticActionsSecondaryFocusQuietTextColor;    
$colorColorsCompButtonNegativeDefaultBackgroundColor: $colorColorsSemanticActionsNegativeDefaultBackgroundColor;    
$colorColorsCompButtonNegativeDefaultQuietBackgroundColor: $colorColorsSemanticActionsNegativeDefaultBackgroundColor;    
$colorColorsCompButtonNegativeDefaultTextColor: $colorColorsSemanticActionsNegativeDefaultTextColor;    
$colorColorsCompButtonNegativeDefaultQuietTextColor: $colorColorsSemanticActionsNegativeDefaultQuietTextColor;    
$colorColorsCompButtonNegativeDefaultBorderColor: $colorColorsSemanticActionsNegativeDefaultBorderColor;    
$colorColorsCompButtonNegativeDefaultQuietBorderColor: $colorColorsSemanticActionsNegativeDefaultQuietBorderColor;    
$colorColorsCompButtonNegativeDefaultIconColor: $colorColorsSemanticActionsNegativeDefaultTextColor;    
$colorColorsCompButtonNegativeDefaultQuietIconColor: $colorColorsSemanticActionsNegativeDefaultQuietTextColor;    
$colorColorsCompButtonNegativeHoverBackgroundColor: $colorColorsSemanticActionsNegativeHoverBackgroundColor;    
$colorColorsCompButtonNegativeHoverQuietBackgroundColor: $colorColorsSemanticActionsNegativeHoverQuietBackgroundColor;    
$colorColorsCompButtonNegativeHoverTextColor: $colorColorsSemanticActionsNegativeHoverTextColor;    
$colorColorsCompButtonNegativeHoverQuietTextColor: $colorColorsSemanticActionsNegativeHoverQuietTextColor;    
$colorColorsCompButtonNegativeHoverBorderColor: $colorColorsSemanticActionsNegativeHoverBorderColor;    
$colorColorsCompButtonNegativeHoverQuietBorderColor: $colorColorsSemanticActionsNegativeHoverQuietBorderColor;    
$colorColorsCompButtonNegativeHoverIconColor: $colorColorsSemanticActionsNegativeHoverTextColor;    
$colorColorsCompButtonNegativeHoverQuietIconColor: $colorColorsSemanticActionsNegativeHoverQuietTextColor;    
$colorColorsCompButtonNegativeActiveBackgroundColor: $colorColorsSemanticActionsNegativeActiveBackgroundColor;    
$colorColorsCompButtonNegativeActiveQuietBackgroundColor: $colorColorsSemanticActionsNegativeActiveQuietBackgroundColor;    
$colorColorsCompButtonNegativeActiveTextColor: $colorColorsSemanticActionsNegativeActiveTextColor;    
$colorColorsCompButtonNegativeActiveQuietTextColor: $colorColorsSemanticActionsNegativeActiveQuietTextColor;    
$colorColorsCompButtonNegativeActiveBorderColor: $colorColorsSemanticActionsNegativeActiveBorderColor;    
$colorColorsCompButtonNegativeActiveQuietBorderColor: $colorColorsSemanticActionsNegativeActiveQuietBorderColor;    
$colorColorsCompButtonNegativeActiveIconColor: $colorColorsSemanticActionsNegativeActiveTextColor;    
$colorColorsCompButtonNegativeActiveQuietIconColor: $colorColorsSemanticActionsNegativeActiveQuietTextColor;    
$colorColorsCompButtonNegativeFocusBackgroundColor: $colorColorsSemanticActionsNegativeFocusBackgroundColor;    
$colorColorsCompButtonNegativeFocusQuietBackgroundColor: $colorColorsSemanticActionsNegativeFocusQuietBackgroundColor;    
$colorColorsCompButtonNegativeFocusTextColor: $colorColorsSemanticActionsNegativeFocusTextColor;    
$colorColorsCompButtonNegativeFocusQuietTextColor: $colorColorsSemanticActionsNegativeFocusQuietTextColor;    
$colorColorsCompButtonNegativeFocusBorderColor: $colorColorsSemanticActionsNegativeFocusBorderColor;    
$colorColorsCompButtonNegativeFocusQuietBorderColor: $colorColorsSemanticActionsNegativeFocusQuietBorderColor;    
$colorColorsCompButtonNegativeFocusIconColor: $colorColorsSemanticActionsNegativeFocusTextColor;    
$colorColorsCompButtonNegativeFocusQuietIconColor: $colorColorsSemanticActionsNegativeFocusQuietTextColor;    
$colorColorsCompButtonDisabledBackgroundColor: $colorColorsSemanticActionsDisabledBackgroundColor;    
$colorColorsCompButtonDisabledTextColor: $colorColorsSemanticActionsDisabledTextColor;    
$colorColorsCompButtonDisabledBorderColor: $colorColorsSemanticActionsDisabledBackgroundColor;    
$colorColorsCompButtonDisabledIconColor: $colorColorsSemanticActionsDisabledTextColor;    
$colorColorsCompFormsInputsTextPlaceholder: $colorColorsSemanticInputsPlaceholder;    
$colorColorsCompFormsInputsIconDefault: $colorColorsSemanticInputsDefaultIconColor;    
$colorColorsCompFormsInputsLabel: $colorColorsSemanticFgMuted;    
$colorColorsCompFormsInputsBorderDefault: $colorColorsSemanticInputsBorderDefault;    
$colorColorsCompFormsInputsBorderDisabled: $colorColorsSemanticInputsBorderDisabled;    
$colorColorsCompFormsInputsBorderReadOnly: $colorColorsSemanticInputsBorderDisabled;    
$colorColorsCompFormsInputsBorderFocus: $colorColorsSemanticInputsFocusBorderColor;    
$colorColorsCompFormsInputsBorderError: $colorColorsSemanticInputsErrorBorderColor;    
$colorColorsCompFormsInputsBorderSuccess: $colorColorsSemanticInputsSuccessBorderColor;    
$colorColorsCompFormsInputsBorderWarning: $colorColorsSemanticInputsWarningBorderColor;    
$colorColorsCompFormsInputsBackgroundDisabled: $colorColorsSemanticInputsDisabledBackgroundColor;    
$colorColorsCompFormsInputsBackgroundReadOnly: $colorColorsSemanticInputsDisabledBackgroundColor;    
$colorColorsCompFormsInputsTextDisabled: $colorColorsSemanticInputsDisabledTextColor;    
$colorColorsCompFormsInputsIconDisabled: $colorColorsSemanticInputsDisabledIconColor;    
$colorColorsCompFormsInputsIconError: $colorColorsSemanticInputsErrorIconColor;    
$colorColorsCompFormsInputsIconSuccess: $colorColorsSemanticInputsSuccessIconColor;    
$colorColorsCompFormsInputsIconWarning: $colorColorsSemanticInputsWarningIconColor;    
$colorColorsCompFormsInputsTextDefault: $colorColorsSemanticInputsDefaultTextColor;    
$colorColorsCompFormsInputsBackground: $colorColorsSemanticInputsDefaultBackgroundColor;    
$colorColorsCompAccordionBg: $colorColorsSemanticBgSurface;    
$colorColorsCompAccordionTextDefault: $colorColorsSemanticTypographyDefault;    
$colorColorsCompAccordionIcon: $colorColorsSemanticTypographyDefault;    
$colorColorsCompAccordionTitle: $colorColorsSemanticPrimaryDefault;    
$colorColorsCompAccordionIconDefault: $colorColorsSemanticPrimaryDefault;    
$colorColorsCompAccordionIconHover: $colorColorsSemanticCtaEmphasised;    
$colorColorsCompAccordionTitleDefault: $colorColorsSemanticTypographyDefault;    
$colorColorsCompAccordionTitleHover: $colorColorsSemanticCtaEmphasised;    
$colorColorsCompAccordionBorderOpen: $colorColorsSemanticPrimaryDefault;    
$colorColorsSemanticInputsBorderSubtle: $colorColorsSemanticNeutralSubtle;    
$colorColorsCompAccordionBorderDefault: $colorColorsSemanticInputsBorderSubtle;    
