$core-color-blue-blue-100: #e9f2ff;    
$core-color-blue-blue-200: #cce0ff;    
$core-color-blue-blue-300: #85b8ff;    
$core-color-blue-blue-400: #579dff;    
$core-color-blue-blue-500: #388bff;    
$core-color-blue-blue-600: #1d7afc;    
$core-color-blue-blue-700: #0c66e4;    
$core-color-blue-blue-800: #0055cc;    
$core-color-blue-blue-900: #09326c;    
$core-color-blue-blue-1000: #0b253b;    
$core-color-apple-apple-100: #efffd6;    
$core-color-apple-apple-200: #d3f1a7;    
$core-color-apple-apple-300: #b3df72;    
$core-color-apple-apple-400: #94c748;    
$core-color-apple-apple-500: #82b536;    
$core-color-apple-apple-600: #6a9a23;    
$core-color-apple-apple-700: #5b7f24;    
$core-color-apple-apple-800: #4c6b1f;    
$core-color-apple-apple-900: #37471f;    
$core-color-apple-apple-1000: #28311b;    
$core-color-green-green-100: #dcfff1;    
$core-color-green-green-200: #baf3db;    
$core-color-green-green-300: #7ee2b8;    
$core-color-green-green-400: #4bce97;    
$core-color-green-green-500: #2abb7f;    
$core-color-green-green-600: #22a06b;    
$core-color-green-green-700: #1f845a;    
$core-color-green-green-800: #216e4e;    
$core-color-green-green-900: #164b35;    
$core-color-green-green-1000: #1c3329;    
$core-color-magenta-magenta-100: #ffecf8;    
$core-color-magenta-magenta-200: #fdd0ec;    
$core-color-magenta-magenta-300: #f797d2;    
$core-color-magenta-magenta-400: #e774bb;    
$core-color-magenta-magenta-500: #da62ac;    
$core-color-magenta-magenta-600: #cd519d;    
$core-color-magenta-magenta-700: #ae4787;    
$core-color-magenta-magenta-800: #943d73;    
$core-color-magenta-magenta-900: #50253f;    
$core-color-magenta-magenta-1000: #3d2232;    
$core-color-neutrala-neutral-100a: #091e420a;    
$core-color-neutrala-neutral-200a: #091e4214;    
$core-color-neutrala-neutral-250a: #091e421a;    
$core-color-neutrala-neutral-300a: #091e4229;    
$core-color-neutrala-neutral-350a: #091e4233;    
$core-color-neutrala-neutral-400a: #091e424d;    
$core-color-neutrala-neutral-500a: #091e4280;    
$core-color-neutral-neutral-0: #ffffff;    
$core-color-neutral-neutral-100: #f7f8f9;    
$core-color-neutral-neutral-200: #f1f2f4;    
$core-color-neutral-neutral-300: #dcdfe4;    
$core-color-neutral-neutral-400: #b3b9c4;    
$core-color-neutral-neutral-500: #8590a2;    
$core-color-neutral-neutral-600: #758195;    
$core-color-neutral-neutral-700: #626f86;    
$core-color-neutral-neutral-800: #44546f;    
$core-color-neutral-neutral-900: #2c3e5d;    
$core-color-neutral-neutral-950: #172b4d;    
$core-color-neutral-neutral-1000: #091e42;    
$core-color-orange-orange-100: #fff3eb;    
$core-color-orange-orange-200: #fedec8;    
$core-color-orange-orange-300: #fec195;    
$core-color-orange-orange-400: #fea362;    
$core-color-orange-orange-500: #f38a3f;    
$core-color-orange-orange-600: #e56910;    
$core-color-orange-orange-700: #c25100;    
$core-color-orange-orange-800: #a54800;    
$core-color-orange-orange-900: #702e00;    
$core-color-orange-orange-1000: #38291e;    
$core-color-petrol-petrol-100: #e7f9ff;    
$core-color-petrol-petrol-200: #c6edfb;    
$core-color-petrol-petrol-300: #9dd9ee;    
$core-color-petrol-petrol-400: #6cc3e0;    
$core-color-petrol-petrol-500: #42b2d7;    
$core-color-petrol-petrol-600: #2898bd;    
$core-color-petrol-petrol-700: #227d9b;    
$core-color-petrol-petrol-800: #206a83;    
$core-color-petrol-petrol-900: #164555;    
$core-color-petrol-petrol-1000: #1e3137;    
$core-color-purple-purple-100: #f3f0ff;    
$core-color-purple-purple-200: #dfd8fd;    
$core-color-purple-purple-300: #b8acf6;    
$core-color-purple-purple-400: #9f8fef;    
$core-color-purple-purple-500: #8f7ee7;    
$core-color-purple-purple-600: #8270db;    
$core-color-purple-purple-700: #6e5dc6;    
$core-color-purple-purple-800: #5e4db2;    
$core-color-purple-purple-900: #352c63;    
$core-color-purple-purple-1000: #2b273f;    
$core-color-red-red-100: #ffeceb;    
$core-color-red-red-200: #ffd5d2;    
$core-color-red-red-300: #fd9891;    
$core-color-red-red-400: #f87168;    
$core-color-red-red-500: #f15b50;    
$core-color-red-red-600: #e2483d;    
$core-color-red-red-700: #c9372c;    
$core-color-red-red-800: #ae2e24;    
$core-color-red-red-900: #5d1f1a;    
$core-color-red-red-1000: #42221f;    
$core-color-yellow-yellow-100: #fff7d6;    
$core-color-yellow-yellow-200: #f8e6a0;    
$core-color-yellow-yellow-300: #f5cd47;    
$core-color-yellow-yellow-400: #e2b203;    
$core-color-yellow-yellow-500: #cf9f02;    
$core-color-yellow-yellow-600: #b38600;    
$core-color-yellow-yellow-700: #946f00;    
$core-color-yellow-yellow-800: #7f5f01;    
$core-color-yellow-yellow-900: #533f04;    
$core-color-yellow-yellow-1000: #332e1b;    
$core-color-shadow-shadow-100: #091e421f;    
$core-color-shadow-shadow-200: #091e4226;    
$core-color-shadow-shadow-300: #091e4229;    
$core-color-shadow-shadow-400: #091e4240;    
$core-color-shadow-shadow-500: #091e424f;    
$core-color-transparent-transparent-blue-100: #388bff14;    
$core-color-transparent-transparent-red-100: #ef5c4814;    
$core-color-transparent-transparent-green-100: #1f845a14;    
/* Use for background that should use the primary brand color such as buttons. */
$semantic-color-background-primary-default: $core-color-blue-blue-700;    
/* Use for hovered background that should use the primary brand color such as buttons. */
$semantic-color-background-primary-hovered: $core-color-blue-blue-800;    
/* Use for pressed background that should use the primary brand color such as buttons. */
$semantic-color-background-primary-pressed: $core-color-blue-blue-900;    
/* Use for selected background that should use the primary brand color such as buttons. */
$semantic-color-background-primary-selected: $core-color-blue-blue-100;    
/* Use for üdisabled background that should use the primary brand color such as buttons. */
$semantic-color-background-primary-disabled: $core-color-neutrala-neutral-100a;    
/* Use for disabled background that is used as a surface */
$semantic-color-background-base-disabled: $core-color-neutrala-neutral-100a;    
/* Use for background that is used as a surface */
$semantic-color-background-base-default: $core-color-neutral-neutral-0;    
/* Use for hovered background that is used as a surface */
$semantic-color-background-base-hovered: $core-color-neutral-neutral-200;    
/* Use for pressed background that is used as a surface */
$semantic-color-background-base-pressed: $core-color-neutral-neutral-300;    
/* Use for hovered background that is used as a secondary surface */
$semantic-color-background-secondary-hovered: $core-color-neutrala-neutral-100a;    
/* Use for pressed background that is used as a secondary surface */
$semantic-color-background-secondary-pressed: $core-color-neutrala-neutral-200a;    
/* Use for background that is used as a secondary surface */
$semantic-color-background-secondary-default: $core-color-neutral-neutral-100;    
/* Use for disabled background that is used as a secondary surface */
$semantic-color-background-secondary-disabled: $core-color-neutrala-neutral-100a;    
/* Use for background that is used as a very subtle surface */
$semantic-color-background-secondary-subtle-default: $core-color-neutrala-neutral-100a;    
/* Use for a background that is indicating a warning state, such as warning buttons */
$semantic-color-background-warning-default: $core-color-yellow-yellow-300;    
/* Use for a hovered background that is indicating a warning state, such as warning buttons */
$semantic-color-background-warning-hovered: $core-color-yellow-yellow-400;    
/* Use for a pressed background that is indicating a warning state, such as warning buttons */
$semantic-color-background-warning-pressed: $core-color-yellow-yellow-500;    
/* Use for a selected background that is indicating a warning state, such as warning buttons */
$semantic-color-background-warning-selected: $core-color-yellow-yellow-200;    
/* Use for a disabled background that is indicating a warning state, such as warning buttons */
$semantic-color-background-warning-disabled: $core-color-yellow-yellow-100;    
$semantic-color-background-danger-default: $core-color-red-red-700;    
$semantic-color-background-danger-hovered: $core-color-red-red-800;    
$semantic-color-background-danger-pressed: $core-color-red-red-900;    
$semantic-color-background-danger-selected: $core-color-red-red-200;    
$semantic-color-background-danger-disbaled: $core-color-red-red-100;    
$semantic-color-background-danger-subtle-default: $core-color-red-red-200;    
$semantic-color-background-danger-subtle-hovered: $core-color-red-red-100;    
$semantic-color-background-transparent-default: $core-color-neutrala-neutral-500a;    
$semantic-color-background-transparent-danger: $core-color-transparent-transparent-red-100;    
$semantic-color-background-transparent-selected: $core-color-transparent-transparent-blue-100;    
$semantic-color-background-transparent-success: $core-color-transparent-transparent-green-100;    
$semantic-color-text-base-default: $core-color-neutral-neutral-950;    
$semantic-color-text-base-disabled: $core-color-neutrala-neutral-350a;    
$semantic-color-text-inverted-default: $core-color-neutral-neutral-0;    
$semantic-color-text-primary-default: $core-color-blue-blue-700;    
$semantic-color-text-danger-default: $core-color-red-red-800;    
$semantic-color-text-success-default: $core-color-green-green-800;    
$semantic-color-text-secondary-default: $core-color-neutral-neutral-700;    
$semantic-color-border-primary-default: $core-color-blue-blue-700;    
$semantic-color-border-primary-selected: $core-color-blue-blue-500;    
$semantic-color-border-danger-default: $core-color-red-red-600;    
$semantic-color-border-base-default: $core-color-neutrala-neutral-100a;    
$semantic-color-border-base-pressed: $core-color-neutral-neutral-400;    
$semantic-color-border-base-hovered: $core-color-neutrala-neutral-200a;    
$semantic-color-border-base-disabled: $core-color-neutral-neutral-400;    
$semantic-color-icon-base-default: $core-color-neutral-neutral-950;    
$semantic-color-icon-base-disabled: $core-color-neutrala-neutral-300a;    
$semantic-color-icon-inverted-default: $core-color-neutral-neutral-0;    
$semantic-color-icon-primary-default: $core-color-blue-blue-700;    
$semantic-color-icon-danger-default: $core-color-red-red-800;    
$semantic-color-icon-success-default: $core-color-green-green-800;    
$semantic-color-background-warning-subtle-default: $core-color-yellow-yellow-100;    
$semantic-color-background-warning-subtle-hovered: $core-color-yellow-yellow-200;    
$semantic-color-background-success-default: $core-color-green-green-700;    
$semantic-color-background-success-hovered: $core-color-green-green-800;    
$semantic-color-background-success-pressed: $core-color-green-green-900;    
$semantic-color-background-success-selected: $core-color-green-green-200;    
$semantic-color-background-success-disabled: $core-color-green-green-100;    
$semantic-color-background-success-subtle-default: $core-color-green-green-100;    
$semantic-color-background-success-subtle-hovered: $core-color-green-green-200;    
$semantic-color-background-tertiary-default: $core-color-neutral-neutral-800;    
$semantic-color-charts-apple-apple-100: $core-color-apple-apple-100;    
$semantic-color-charts-apple-apple-200: $core-color-apple-apple-200;    
$semantic-color-charts-apple-apple-300: $core-color-apple-apple-300;    
$semantic-color-charts-apple-apple-400: $core-color-apple-apple-400;    
$semantic-color-charts-apple-apple-500: $core-color-apple-apple-500;    
$semantic-color-charts-apple-apple-600: $core-color-apple-apple-600;    
$semantic-color-charts-apple-apple-700: $core-color-apple-apple-700;    
$semantic-color-charts-apple-apple-800: $core-color-apple-apple-800;    
$semantic-color-charts-apple-apple-900: $core-color-apple-apple-900;    
$semantic-color-charts-apple-apple-1000: $core-color-apple-apple-1000;    
$semantic-color-charts-red-red-100: $core-color-red-red-100;    
$semantic-color-charts-red-red-200: $core-color-red-red-200;    
$semantic-color-charts-red-red-300: $core-color-red-red-300;    
$semantic-color-charts-red-red-400: $core-color-red-red-400;    
$semantic-color-charts-red-red-500: $core-color-red-red-500;    
$semantic-color-charts-red-red-600: $core-color-red-red-600;    
$semantic-color-charts-red-red-700: $core-color-red-red-700;    
$semantic-color-charts-red-red-800: $core-color-red-red-800;    
$semantic-color-charts-red-red-900: $core-color-red-red-900;    
$semantic-color-charts-red-red-1000: $core-color-red-red-1000;    
$semantic-color-charts-orange-orange-100: $core-color-orange-orange-100;    
$semantic-color-charts-orange-orange-200: $core-color-orange-orange-200;    
$semantic-color-charts-orange-orange-300: $core-color-orange-orange-300;    
$semantic-color-charts-orange-orange-400: $core-color-orange-orange-400;    
$semantic-color-charts-orange-orange-500: $core-color-orange-orange-500;    
$semantic-color-charts-orange-orange-600: $core-color-orange-orange-600;    
$semantic-color-charts-orange-orange-700: $core-color-orange-orange-700;    
$semantic-color-charts-orange-orange-800: $core-color-orange-orange-800;    
$semantic-color-charts-orange-orange-900: $core-color-orange-orange-900;    
$semantic-color-charts-orange-orange-1000: $core-color-orange-orange-1000;    
$semantic-color-charts-yellow-yellow-100: $core-color-yellow-yellow-100;    
$semantic-color-charts-yellow-yellow-200: $core-color-yellow-yellow-200;    
$semantic-color-charts-yellow-yellow-300: $core-color-yellow-yellow-300;    
$semantic-color-charts-yellow-yellow-400: $core-color-yellow-yellow-400;    
$semantic-color-charts-yellow-yellow-500: $core-color-yellow-yellow-500;    
$semantic-color-charts-yellow-yellow-600: $core-color-yellow-yellow-600;    
$semantic-color-charts-yellow-yellow-700: $core-color-yellow-yellow-700;    
$semantic-color-charts-yellow-yellow-800: $core-color-yellow-yellow-800;    
$semantic-color-charts-yellow-yellow-900: $core-color-yellow-yellow-900;    
$semantic-color-charts-yellow-yellow-1000: $core-color-yellow-yellow-1000;    
$semantic-color-charts-green-green-100: $core-color-green-green-100;    
$semantic-color-charts-green-green-200: $core-color-green-green-200;    
$semantic-color-charts-green-green-300: $core-color-green-green-300;    
$semantic-color-charts-green-green-400: $core-color-green-green-400;    
$semantic-color-charts-green-green-500: $core-color-green-green-500;    
$semantic-color-charts-green-green-600: $core-color-green-green-600;    
$semantic-color-charts-green-green-700: $core-color-green-green-700;    
$semantic-color-charts-green-green-800: $core-color-green-green-800;    
$semantic-color-charts-green-green-900: $core-color-green-green-900;    
$semantic-color-charts-green-green-1000: $core-color-green-green-1000;    
$semantic-color-charts-petrol-petrol-100: $core-color-petrol-petrol-100;    
$semantic-color-charts-petrol-petrol-200: $core-color-petrol-petrol-200;    
$semantic-color-charts-petrol-petrol-300: $core-color-petrol-petrol-300;    
$semantic-color-charts-petrol-petrol-400: $core-color-petrol-petrol-400;    
$semantic-color-charts-petrol-petrol-500: $core-color-petrol-petrol-500;    
$semantic-color-charts-petrol-petrol-600: $core-color-petrol-petrol-600;    
$semantic-color-charts-petrol-petrol-700: $core-color-petrol-petrol-700;    
$semantic-color-charts-petrol-petrol-800: $core-color-petrol-petrol-800;    
$semantic-color-charts-petrol-petrol-900: $core-color-petrol-petrol-900;    
$semantic-color-charts-petrol-petrol-1000: $core-color-petrol-petrol-1000;    
$semantic-color-charts-blue-blue-100: $core-color-blue-blue-100;    
$semantic-color-charts-blue-blue-200: $core-color-blue-blue-200;    
$semantic-color-charts-blue-blue-300: $core-color-blue-blue-300;    
$semantic-color-charts-blue-blue-400: $core-color-blue-blue-400;    
$semantic-color-charts-blue-blue-500: $core-color-blue-blue-500;    
$semantic-color-charts-blue-blue-600: $core-color-blue-blue-600;    
$semantic-color-charts-blue-blue-700: $core-color-blue-blue-700;    
$semantic-color-charts-blue-blue-800: $core-color-blue-blue-800;    
$semantic-color-charts-blue-blue-900: $core-color-blue-blue-900;    
$semantic-color-charts-blue-blue-1000: $core-color-blue-blue-1000;    
$semantic-color-charts-purple-purple-100: $core-color-purple-purple-100;    
$semantic-color-charts-purple-purple-200: $core-color-purple-purple-200;    
$semantic-color-charts-purple-purple-300: $core-color-purple-purple-300;    
$semantic-color-charts-purple-purple-400: $core-color-purple-purple-400;    
$semantic-color-charts-purple-purple-500: $core-color-purple-purple-500;    
$semantic-color-charts-purple-purple-600: $core-color-purple-purple-600;    
$semantic-color-charts-purple-purple-700: $core-color-purple-purple-700;    
$semantic-color-charts-purple-purple-800: $core-color-purple-purple-800;    
$semantic-color-charts-purple-purple-900: $core-color-purple-purple-900;    
$semantic-color-charts-purple-purple-1000: $core-color-purple-purple-1000;    
$semantic-color-charts-magenta-magenta-100: $core-color-magenta-magenta-100;    
$semantic-color-charts-magenta-magenta-200: $core-color-magenta-magenta-200;    
$semantic-color-charts-magenta-magenta-300: $core-color-magenta-magenta-300;    
$semantic-color-charts-magenta-magenta-400: $core-color-magenta-magenta-400;    
$semantic-color-charts-magenta-magenta-500: $core-color-magenta-magenta-500;    
$semantic-color-charts-magenta-magenta-600: $core-color-magenta-magenta-600;    
$semantic-color-charts-magenta-magenta-700: $core-color-magenta-magenta-700;    
$semantic-color-charts-magenta-magenta-800: $core-color-magenta-magenta-800;    
$semantic-color-charts-magenta-magenta-900: $core-color-magenta-magenta-900;    
$semantic-color-charts-magenta-magenta-1000: $core-color-magenta-magenta-1000;    
$semantic-color-background-primary-subtle-default: $core-color-blue-blue-100;    
$semantic-color-background-primary-subtle-hovered: $core-color-blue-blue-200;    
$semantic-color-background-tertiary-hovered: $core-color-neutral-neutral-700;    
$semantic-color-icon-secondary-default: $core-color-neutral-neutral-700;    
$semantic-color-icon-secondary-subtle: $core-color-neutral-neutral-100;    
