$core-dimension-size-100: 0.063rem;    
$core-dimension-size-200: 0.125rem;    
$core-dimension-size-300: 0.25rem;    
$core-dimension-size-400: 0.375rem;    
$core-dimension-size-500: 0.5rem;    
$core-dimension-size-600: 0.625rem;    
$core-dimension-size-700: 0.75rem;    
$core-dimension-direction-100: 0rem;    
$core-dimension-direction-200: 0.063rem;    
$core-dimension-direction-300: 0.5rem;    
$core-dimension-direction-400: 0.75rem;    
$core-dimension-space-100: 0rem;    
$core-dimension-space-200: 0.25rem;    
$core-dimension-space-300: 0.375rem;    
$core-dimension-space-400: 0.5rem;    
$core-dimension-space-500: 0.75rem;    
$core-dimension-space-600: 1rem;    
$core-dimension-space-700: 1.25rem;    
$core-dimension-space-800: 1.5rem;    
$core-dimension-space-900: 2rem;    
$core-dimension-space-1000: 2.5rem;    
$core-dimension-space-1100: 3rem;    
$core-dimension-space-1200: 3.5rem;    
$core-dimension-space-1300: 4rem;    
$core-dimension-space-1400: 5rem;    
$core-dimension-space-1500: 6rem;    
$core-dimension-space-1600: 7rem;    
$core-font-lineheight-100: 0.75rem;    
$core-font-lineheight-200: 0.875rem;    
$core-font-lineheight-300: 1rem;    
$core-font-lineheight-400: 1.25rem;    
$core-font-lineheight-500: 1.5rem;    
$core-font-lineheight-600: 1.75rem;    
$core-font-lineheight-700: 2rem;    
$core-font-lineheight-800: 2.25rem;    
$core-font-lineheight-900: 3rem;    
$core-font-lineheight-1000: 3.5rem;    
$core-font-fontsize-100: 0.75rem;    
$core-font-fontsize-200: 0.875rem;    
$core-font-fontsize-300: 1rem;    
$core-font-fontsize-400: 1.125rem;    
$core-font-fontsize-500: 1.25rem;    
$core-font-fontsize-600: 1.5rem;    
$core-font-fontsize-700: 1.75rem;    
$core-font-fontsize-800: 2rem;    
$core-font-fontsize-900: 2.5rem;    
$core-font-fontsize-1000: 3rem;    
$core-font-fontsize-1100: 3.5rem;    
$core-font-fontsize-1200: 4.25rem;    
$core-font-fontsize-1300: 5.125rem;    
$core-font-fontsize-1400: 6.25rem;    
$core-font-fontsize-1500: 7.625rem;    
$semantic-size-radius-xs: 0.063rem;    
$semantic-size-radius-sm: 0.125rem;    
$semantic-size-radius-md: 0.25rem;    
$semantic-size-radius-lg: 0.375rem;    
$semantic-size-radius-xl: 0.5rem;    
$semantic-size-radius-2xl: 0.625rem;    
$semantic-size-radius-3xl: 0.75rem;    
$semantic-size-width-xs: 0.063rem;    
$semantic-size-width-sm: 0.125rem;    
$semantic-size-width-md: 0.25rem;    
$semantic-size-width-lg: 0.375rem;    
$semantic-size-width-xl: 0.5rem;    
$semantic-size-width-2xl: 0.625rem;    
$semantic-size-width-3xl: 0.75rem;    
$core-dimension-space-1700: 8rem;    
$core-dimension-size-9000: 7rem;    
$semantic-dimension-space-ui-xs: $core-dimension-space-900;    
$semantic-dimension-space-ui-sm: $core-dimension-space-1100;    
$semantic-dimension-space-ui-md: $core-dimension-space-1300;    
$semantic-dimension-space-ui-lg: $core-dimension-space-1400;    
$semantic-dimension-space-ui-xl: $core-dimension-space-1500;    
$semantic-dimension-space-ui-2xl: $core-dimension-space-1600;    
$semantic-dimension-space-ui-3xl: $core-dimension-space-1700;    
$semantic-dimension-space-pattern-xs: $core-dimension-space-400;    
$semantic-dimension-space-pattern-sm: $core-dimension-space-600;    
$semantic-dimension-space-pattern-md: $core-dimension-space-800;    
$semantic-dimension-space-pattern-lg: $core-dimension-space-900;    
$semantic-dimension-space-pattern-xl: $core-dimension-space-1000;    
$semantic-dimension-space-pattern-2xl: $core-dimension-space-1100;    
$semantic-dimension-space-pattern-3xl: $core-dimension-space-1200;    
$semantic-dimension-space-component-xs: $core-dimension-space-100;    
$semantic-dimension-space-component-sm: $core-dimension-space-200;    
$semantic-dimension-space-component-md: $core-dimension-space-300;    
$semantic-dimension-space-component-lg: $core-dimension-space-400;    
$semantic-dimension-space-component-xl: $core-dimension-space-500;    
$semantic-dimension-space-component-2xl: $core-dimension-space-600;    
$semantic-dimension-space-component-3xl: $core-dimension-space-700;    
$semantic-dimension-space-component-4xl: $core-dimension-space-800;    
