$measureSpacingSpacingsCore10: 64px;    
$measureSpacingSpacingsCore11: 80px;    
$measureSpacingSpacingsCore12: 96px;    
$measureSpacingSpacingsCore13: 160px;    
$measureSpacingSpacingsCore01: 2px;    
$measureSpacingSpacingsCore02: 4px;    
$measureSpacingSpacingsCore03: 8px;    
$measureSpacingSpacingsCore04: 12px;    
$measureSpacingSpacingsCore05: 16px;    
$measureSpacingSpacingsCore06: 24px;    
$measureSpacingSpacingsCore07: 32px;    
$measureSpacingSpacingsCore08: 40px;    
$measureSpacingSpacingsCore09: 48px;    
$measureSizingSizesCore0: 0px;    
$measureSizingSizesCore12: 1px;    
$measureSizingSizesCore25: 2px;    
$measureSizingSizesCore50: 4px;    
$measureSizingSizesCore75: 6px;    
$measureSizingSizesCore100: 8px;    
$measureSizingSizesCore125: 10px;    
$measureSizingSizesCore150: 12px;    
$measureSizingSizesCore175: 14px;    
$measureSizingSizesCore200: 16px;    
$measureSizingSizesCore225: 18px;    
$measureSizingSizesCore250: 20px;    
$measureSizingSizesCore275: 22px;    
$measureSizingSizesCore300: 24px;    
$measureSizingSizesCore400: 32px;    
$measureSizingSizesCore450: 36px;    
$measureSizingSizesCore500: 40px;    
$measureSizingSizesCore600: 48px;    
$measureSizingSizesCore700: 56px;    
$measureSizingSizesCore800: 64px;    
$measureSizingSizesCore900: 72px;    
$measureSizingSizesCore1000: 80px;    
$measureSizingSizesCore1200: 96px;    
$measureSizingSizesCore1400: 112px;    
$measureSizingSizesCore1600: 128px;    
$measureSizingSizesCore1800: 144px;    
$measureSizingSizesCore2000: 160px;    
$measureSizingSizesCore2200: 176px;    
$measureSizingSizesCore2400: 192px;    
$measureSizingSizesCore2600: 208px;    
$measureSizingSizesCore2800: 224px;    
$measureSizingSizesCore3000: 240px;    
$measureSizingSizesCore3200: 256px;    
$measureSizingSizesCore3400: 288px;    
$measureSizingSizesCore3600: 320px;    
$measureSizingSizesCore3800: 384px;    
$measureLineHeightLineheightsCoreDefault: 150px;    
$measureLineHeightLineheightsCoreTight: 125px;    
$measureLineHeightLineheightsCompButtonLineHeight: 100px;    
$measureFontSizeFontsizesCore0: 8px;    
$measureFontSizeFontsizesCore1: 10px;    
$measureFontSizeFontsizesCore2: 12px;    
$measureFontSizeFontsizesCore3: 14px;    
$measureFontSizeFontsizesCore4: 16px;    
$measureFontSizeFontsizesCore5: 18px;    
$measureFontSizeFontsizesCore6: 20px;    
$measureFontSizeFontsizesCore7: 22px;    
$measureFontSizeFontsizesCore8: 24px;    
$measureFontSizeFontsizesCore9: 26px;    
$measureFontSizeFontsizesCore10: 28px;    
$measureFontSizeFontsizesCore11: 30px;    
$measureFontSizeFontsizesCore12: 32px;    
$measureFontSizeFontsizesCore13: 34px;    
$measureFontSizeFontsizesCore14: 36px;    
$measureFontSizeFontsizesCore15: 38px;    
$measureFontSizeFontsizesCore16: 40px;    
$measureFontSizeFontsizesCore17: 42px;    
$measureFontSizeFontsizesCore18: 44px;    
$measureFontSizeFontsizesCore19: 46px;    
$measureFontSizeFontsizesCore20: 48px;    
$measureFontSizeFontsizesCore21: 50px;    
$measureFontSizeFontsizesCore22: 52px;    
$measureFontSizeFontsizesCore23: 54px;    
$measureFontSizeFontsizesCore24: 64px;    
$measureFontSizeFontsizesCore25: 80px;    
$measureFontSizeFontsizesCore26: 112px;    
$measureFontSizeFontsizesCore27: 140px;    
$measureFontSizeFontsizesCore28: 160px;    
$measureBorderWidthBorderwidthsCore0: 0px;    
$measureBorderWidthBorderwidthsCore1: 1px;    
$measureBorderWidthBorderwidthsCore2: 2px;    
$measureBorderWidthBorderwidthsCore4: 4px;    
$measureOpacityOpacitiesCore0: 0px;    
$measureOpacityOpacitiesCore5: 5px;    
$measureOpacityOpacitiesCore10: 10px;    
$measureOpacityOpacitiesCore20: 20px;    
$measureOpacityOpacitiesCore25: 25px;    
$measureOpacityOpacitiesCore30: 30px;    
$measureOpacityOpacitiesCore40: 40px;    
$measureOpacityOpacitiesCore50: 50px;    
$measureOpacityOpacitiesCore60: 60px;    
$measureOpacityOpacitiesCore70: 70px;    
$measureOpacityOpacitiesCore80: 80px;    
$measureOpacityOpacitiesCore90: 90px;    
$measureOpacityOpacitiesCore100: 100px;    
/* TEST for ADO pushes */
$measureLineHeightLineheightsCoreTest: 125px;    
$measureSpacingSpacingsCompAccordionMediumSpacingBetween: 4px;    
$measureSpacingSpacingsSemanticActionsSmallPaddingLeft: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticActionsSmallPaddingRight: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticActionsSmallPaddingTop: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticActionsSmallPaddingBottom: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticActionsMediumPaddingLeft: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticActionsMediumPaddingRight: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticActionsMediumPaddingTop: $measureSpacingSpacingsCore04;    
$measureSpacingSpacingsSemanticActionsMediumPaddingBottom: $measureSpacingSpacingsCore04;    
$measureSpacingSpacingsSemanticActionsLargePaddingLeft: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticActionsLargePaddingRight: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticActionsLargePaddingTop: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticActionsLargePaddingBottom: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticActionsExtraLargePaddingLeft: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticActionsExtraLargePaddingRight: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticActionsExtraLargePaddingTop: $measureSpacingSpacingsCore06;    
$measureSpacingSpacingsSemanticActionsExtraLargePaddingBottom: $measureSpacingSpacingsCore06;    
$measureSpacingSpacingsSemanticInputsSpaceBetween: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticInputsSmallPaddingLeft: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticInputsSmallPaddingRight: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticInputsSmallPaddingTop: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticInputsSmallPaddingBottom: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticInputsMediumPaddingLeft: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticInputsMediumPaddingRight: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticInputsMediumPaddingTop: $measureSpacingSpacingsCore04;    
$measureSpacingSpacingsSemanticInputsMediumPaddingBottom: $measureSpacingSpacingsCore04;    
$measureSpacingSpacingsSemanticInputsLargePaddingLeft: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticInputsLargePaddingRight: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticInputsLargePaddingTop: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticInputsLargePaddingBottom: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticInputsExtraLargePaddingLeft: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticInputsExtraLargePaddingRight: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticInputsExtraLargePaddingTop: $measureSpacingSpacingsCore06;    
$measureSpacingSpacingsSemanticInputsExtraLargePaddingBottom: $measureSpacingSpacingsCore06;    
$measureSpacingSpacingsSemanticInputsExtraSmallPaddingLeft: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticInputsExtraSmallPaddingRight: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticInputsExtraSmallPaddingTop: $measureSpacingSpacingsCore02;    
$measureSpacingSpacingsSemanticInputsExtraSmallPaddingBottom: $measureSpacingSpacingsCore02;    
$measureSpacingSpacingsSemanticFeedbackPaddingLeft: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticFeedbackPaddingRight: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticFeedbackPaddingTop: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticFeedbackPaddingBottom: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticStatusSpaceBetween: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticStatusSmallPaddingTop: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticStatusSmallPaddingRight: $measureSpacingSpacingsCore04;    
$measureSpacingSpacingsSemanticStatusSmallPaddingBottom: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticStatusSmallPaddingLeft: $measureSpacingSpacingsCore04;    
$measureSpacingSpacingsSemanticStatusMediumPaddingTop: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticStatusMediumPaddingRight: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticStatusMediumPaddingBottom: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticStatusMediumPaddingLeft: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticStatusLargePaddingTop: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticStatusLargePaddingRight: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticStatusLargePaddingBottom: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticStatusLargePaddingLeft: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticStatusExtraLargePaddingTop: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticStatusExtraLargePaddingRight: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticStatusExtraLargePaddingBottom: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticStatusExtraLargePaddingLeft: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticUiXxsSpaceBetween: $measureSpacingSpacingsCore02;    
$measureSpacingSpacingsSemanticUiXxsSpaceAround: $measureSpacingSpacingsCore02;    
$measureSpacingSpacingsSemanticUiXsSpaceBetween: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticUiXsSpaceAround: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticUiSSpaceBetween: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticUiSSpaceAround: $measureSpacingSpacingsCore03;    
$measureSpacingSpacingsSemanticUiMSpaceBetween: $measureSpacingSpacingsCore06;    
$measureSpacingSpacingsSemanticUiMSpaceAround: $measureSpacingSpacingsCore04;    
$measureSpacingSpacingsSemanticUiLSpaceBetween: $measureSpacingSpacingsCore07;    
$measureSpacingSpacingsSemanticUiLSpaceAround: $measureSpacingSpacingsCore05;    
$measureSpacingSpacingsSemanticUiXlSpaceBetween: $measureSpacingSpacingsCore10;    
$measureSpacingSpacingsSemanticUiXlSpaceAround: $measureSpacingSpacingsCore06;    
$measureSpacingSpacingsSemanticUiXxlSpaceBetween: $measureSpacingSpacingsCore12;    
$measureSpacingSpacingsSemanticUiXxlSpaceAround: $measureSpacingSpacingsCore07;    
$measureSpacingSpacingsSemanticUiXxxlSpaceBetween: $measureSpacingSpacingsCore13;    
$measureSpacingSpacingsSemanticUiXxxlSpaceAround: $measureSpacingSpacingsCore10;    
$measureSpacingSpacingsSemanticUiXxxxlSpaceAround: $measureSpacingSpacingsCore12;    
$measureSpacingSpacingsCompButtonSPaddingLeft: $measureSpacingSpacingsSemanticActionsSmallPaddingLeft;    
$measureSpacingSpacingsCompButtonSPaddingRight: $measureSpacingSpacingsSemanticActionsSmallPaddingRight;    
$measureSpacingSpacingsCompButtonSPaddingTop: $measureSpacingSpacingsSemanticActionsSmallPaddingTop;    
$measureSpacingSpacingsCompButtonSPaddingBottom: $measureSpacingSpacingsSemanticActionsSmallPaddingBottom;    
$measureSpacingSpacingsCompButtonMPaddingLeft: $measureSpacingSpacingsSemanticActionsMediumPaddingLeft;    
$measureSpacingSpacingsCompButtonMPaddingRight: $measureSpacingSpacingsSemanticActionsMediumPaddingRight;    
$measureSpacingSpacingsCompButtonMPaddingTop: $measureSpacingSpacingsSemanticActionsMediumPaddingTop;    
$measureSpacingSpacingsCompButtonMPaddingBottom: $measureSpacingSpacingsSemanticActionsMediumPaddingBottom;    
$measureSpacingSpacingsCompButtonLPaddingLeft: $measureSpacingSpacingsSemanticActionsLargePaddingLeft;    
$measureSpacingSpacingsCompButtonLPaddingRight: $measureSpacingSpacingsSemanticActionsLargePaddingRight;    
$measureSpacingSpacingsCompButtonLPaddingTop: $measureSpacingSpacingsSemanticActionsLargePaddingTop;    
$measureSpacingSpacingsCompButtonLPaddingBottom: $measureSpacingSpacingsSemanticActionsLargePaddingBottom;    
$measureSpacingSpacingsCompButtonXlPaddingLeft: $measureSpacingSpacingsSemanticActionsExtraLargePaddingLeft;    
$measureSpacingSpacingsCompButtonXlPaddingRight: $measureSpacingSpacingsSemanticActionsExtraLargePaddingRight;    
$measureSpacingSpacingsCompButtonXlPaddingTop: $measureSpacingSpacingsSemanticActionsExtraLargePaddingTop;    
$measureSpacingSpacingsCompButtonXlPaddingBottom: $measureSpacingSpacingsSemanticActionsExtraLargePaddingBottom;    
$measureSpacingSpacingsCompFormsTextinputLargePaddingLeft: $measureSpacingSpacingsSemanticInputsLargePaddingLeft;    
$measureSpacingSpacingsCompFormsTextinputLargePaddingRight: $measureSpacingSpacingsSemanticInputsLargePaddingRight;    
$measureSpacingSpacingsCompFormsTextinputLargePaddingTop: $measureSpacingSpacingsSemanticInputsLargePaddingTop;    
$measureSpacingSpacingsCompFormsTextinputLargePaddingBottom: $measureSpacingSpacingsSemanticInputsLargePaddingBottom;    
$measureSpacingSpacingsCompFormsTextinputMediumPaddingLeft: $measureSpacingSpacingsSemanticInputsMediumPaddingLeft;    
$measureSpacingSpacingsCompFormsTextinputMediumPaddingRight: $measureSpacingSpacingsSemanticInputsMediumPaddingRight;    
$measureSpacingSpacingsCompFormsTextinputMediumPaddingTop: $measureSpacingSpacingsSemanticInputsMediumPaddingTop;    
$measureSpacingSpacingsCompFormsTextinputMediumPaddingBottom: $measureSpacingSpacingsSemanticInputsMediumPaddingBottom;    
$measureSpacingSpacingsCompFormsTextinputSmallPaddingLeft: $measureSpacingSpacingsSemanticInputsSmallPaddingLeft;    
$measureSpacingSpacingsCompFormsTextinputSmallPaddingRight: $measureSpacingSpacingsSemanticInputsSmallPaddingRight;    
$measureSpacingSpacingsCompFormsTextinputSmallPaddingTop: $measureSpacingSpacingsSemanticInputsSmallPaddingTop;    
$measureSpacingSpacingsCompFormsTextinputSmallPaddingBottom: $measureSpacingSpacingsSemanticInputsSmallPaddingBottom;    
$measureSpacingSpacingsCompFormsTextinputExtraLargePaddingLeft: $measureSpacingSpacingsSemanticInputsExtraLargePaddingLeft;    
$measureSpacingSpacingsCompFormsTextinputExtraLargePaddingRight: $measureSpacingSpacingsSemanticInputsExtraLargePaddingRight;    
$measureSpacingSpacingsCompFormsTextinputExtraLargePaddingTop: $measureSpacingSpacingsSemanticInputsExtraLargePaddingTop;    
$measureSpacingSpacingsCompFormsTextinputExtraLargePaddingBottom: $measureSpacingSpacingsSemanticInputsExtraLargePaddingBottom;    
$measureSpacingSpacingsCompFormsTextinputExtraSmallPaddingLeft: $measureSpacingSpacingsSemanticInputsExtraSmallPaddingLeft;    
$measureSpacingSpacingsCompFormsTextinputExtraSmallPaddingRight: $measureSpacingSpacingsSemanticInputsExtraSmallPaddingRight;    
$measureSpacingSpacingsCompFormsTextinputExtraSmallPaddingTop: $measureSpacingSpacingsSemanticInputsExtraSmallPaddingTop;    
$measureSpacingSpacingsCompFormsTextinputExtraSmallPaddingBottom: $measureSpacingSpacingsSemanticInputsExtraSmallPaddingBottom;    
$measureSpacingSpacingsCompFormsLabelPaddingLeft: $measureSpacingSpacingsSemanticUiXxsSpaceBetween;    
$measureSpacingSpacingsCompFormsLabelPaddingRight: $measureSpacingSpacingsSemanticUiXxsSpaceBetween;    
$measureSpacingSpacingsCompFormsLabelPaddingTop: $measureSpacingSpacingsSemanticUiXxsSpaceBetween;    
$measureSpacingSpacingsCompFormsLabelSpacingBetween: $measureSpacingSpacingsSemanticUiXxsSpaceBetween;    
$measureSpacingSpacingsCompFormsLabelPaddingBottom: $measureSpacingSpacingsSemanticUiXxsSpaceBetween;    
$measureSizingSizesSemanticComponentExtraSmall: $measureSizingSizesCore300;    
$measureSizingSizesSemanticComponentSmall: $measureSizingSizesCore400;    
$measureSizingSizesSemanticComponentMedium: $measureSizingSizesCore500;    
$measureSizingSizesSemanticComponentLarge: $measureSizingSizesCore600;    
$measureSizingSizesSemanticComponentExtraLarge: $measureSizingSizesCore700;    
$measureSizingSizesSemanticActionsSmall: $measureSizingSizesSemanticComponentSmall;    
$measureSizingSizesSemanticActionsMedium: $measureSizingSizesSemanticComponentMedium;    
$measureSizingSizesSemanticActionsLarge: $measureSizingSizesSemanticComponentLarge;    
$measureSizingSizesSemanticActionsExtraLarge: $measureSizingSizesSemanticComponentExtraLarge;    
$measureSizingSizesSemanticActionsIconSizeSmall: $measureSizingSizesCore200;    
$measureSizingSizesSemanticActionsIconSizeExtraSmall: $measureSizingSizesCore150;    
$measureSizingSizesSemanticActionsIconSizeMedium: $measureSizingSizesCore300;    
$measureSizingSizesSemanticActionsIconSizeLarge: $measureSizingSizesCore400;    
$measureSizingSizesSemanticActionsIconSizeExtraLarge: $measureSizingSizesCore500;    
$measureSizingSizesSemanticInputsSmall: $measureSizingSizesSemanticComponentSmall;    
$measureSizingSizesSemanticInputsExtraSmall: $measureSizingSizesSemanticComponentExtraSmall;    
$measureSizingSizesSemanticInputsMedium: $measureSizingSizesSemanticComponentMedium;    
$measureSizingSizesSemanticInputsLarge: $measureSizingSizesSemanticComponentLarge;    
$measureSizingSizesSemanticInputsExtraLarge: $measureSizingSizesSemanticComponentExtraLarge;    
$measureSizingSizesSemanticInputsIconSizeSmall: $measureSizingSizesCore200;    
$measureSizingSizesSemanticInputsIconSizeExtraSmall: $measureSizingSizesCore175;    
$measureSizingSizesSemanticInputsIconSizeMedium: $measureSizingSizesCore300;    
$measureSizingSizesSemanticInputsIconSizeLarge: $measureSizingSizesCore400;    
$measureSizingSizesSemanticInputsIconSizeExtraLarge: $measureSizingSizesCore400;    
$measureSizingSizesSemanticInputsWidth: $measureSizingSizesCore250;    
$measureSizingSizesSemanticFeedbackIconSize: $measureSizingSizesCore200;    
$measureSizingSizesSemanticFeedbackWidth: $measureSizingSizesCore900;    
$measureSizingSizesSemanticContainerSmall: $measureSizingSizesCore12;    
$measureSizingSizesSemanticContainerMedium: $measureSizingSizesCore25;    
$measureSizingSizesSemanticContainerLarge: $measureSizingSizesCore50;    
$measureSizingSizesSemanticNavigationIconSizeXxs: $measureSizingSizesCore200;    
$measureSizingSizesSemanticNavigationIconSizeXs: $measureSizingSizesCore250;    
$measureSizingSizesSemanticNavigationIconSizeS: $measureSizingSizesCore300;    
$measureSizingSizesSemanticNavigationIconSizeM: $measureSizingSizesCore400;    
$measureSizingSizesSemanticNavigationIconSizeL: $measureSizingSizesCore400;    
$measureSizingSizesSemanticNavigationIconSizeXl: $measureSizingSizesCore500;    
$measureSizingSizesSemanticNavigationIconSizeXxl: $measureSizingSizesCore700;    
$measureSizingSizesSemanticNavigationIconSizeXxxl: $measureSizingSizesCore900;    
$measureSizingSizesSemanticNavigationXxs: $measureSizingSizesCore250;    
$measureSizingSizesSemanticNavigationXs: $measureSizingSizesCore300;    
$measureSizingSizesSemanticNavigationS: $measureSizingSizesCore400;    
$measureSizingSizesSemanticNavigationM: $measureSizingSizesCore450;    
$measureSizingSizesSemanticNavigationL: $measureSizingSizesCore500;    
$measureSizingSizesSemanticNavigationXl: $measureSizingSizesCore600;    
$measureSizingSizesSemanticNavigationXxl: $measureSizingSizesCore800;    
$measureSizingSizesSemanticNavigationXxxl: $measureSizingSizesCore1000;    
$measureSizingSizesSemanticStatusSHeight: $measureSizingSizesSemanticComponentExtraSmall;    
$measureSizingSizesSemanticStatusSIconSize: $measureSizingSizesCore100;    
$measureSizingSizesSemanticStatusMHeight: $measureSizingSizesSemanticComponentSmall;    
$measureSizingSizesSemanticStatusMIconSize: $measureSizingSizesCore200;    
$measureSizingSizesSemanticStatusLHeight: $measureSizingSizesSemanticComponentMedium;    
$measureSizingSizesSemanticStatusLIconSize: $measureSizingSizesCore300;    
$measureSizingSizesSemanticStatusXlHeight: $measureSizingSizesSemanticComponentLarge;    
$measureSizingSizesSemanticStatusXlIconSize: $measureSizingSizesCore400;    
$measureSizingSizesCompButtonSIconSize: $measureSizingSizesSemanticActionsIconSizeSmall;    
$measureSizingSizesCompButtonSHeight: $measureSizingSizesSemanticActionsSmall;    
$measureSizingSizesCompButtonMIconSize: $measureSizingSizesSemanticActionsIconSizeMedium;    
$measureSizingSizesCompButtonMHeight: $measureSizingSizesSemanticActionsMedium;    
$measureSizingSizesCompButtonLIconSize: $measureSizingSizesSemanticActionsIconSizeLarge;    
$measureSizingSizesCompButtonLHeight: $measureSizingSizesSemanticActionsLarge;    
$measureSizingSizesCompButtonXlIconSize: $measureSizingSizesSemanticActionsIconSizeExtraLarge;    
$measureSizingSizesCompButtonXlHeight: $measureSizingSizesSemanticActionsExtraLarge;    
$measureSizingSizesCompFormsTextInputLarge: $measureSizingSizesSemanticInputsLarge;    
$measureSizingSizesCompFormsTextInputExtraLarge: $measureSizingSizesSemanticInputsExtraLarge;    
$measureSizingSizesCompFormsTextInputMedium: $measureSizingSizesSemanticInputsMedium;    
$measureSizingSizesCompFormsTextInputSmall: $measureSizingSizesSemanticInputsSmall;    
$measureSizingSizesCompFormsTextInputExtraSmall: $measureSizingSizesSemanticInputsExtraSmall;    
$measureSizingSizesCompFormsIconsLarge: $measureSizingSizesSemanticInputsIconSizeLarge;    
$measureSizingSizesCompFormsIconsExtraLarge: $measureSizingSizesSemanticInputsIconSizeExtraLarge;    
$measureSizingSizesCompFormsIconsMedium: $measureSizingSizesSemanticInputsIconSizeMedium;    
$measureSizingSizesCompFormsIconsSmall: $measureSizingSizesSemanticInputsIconSizeMedium;    
$measureSizingSizesCompFormsIconsExtraSmall: $measureSizingSizesSemanticInputsIconSizeSmall;    
$measureLineHeightLineheightsSemanticTypographyHeading: $measureLineHeightLineheightsCoreTight;    
$measureLineHeightLineheightsSemanticTypographyDisplay: $measureLineHeightLineheightsCoreTight;    
$measureLineHeightLineheightsSemanticTypographyBody: $measureLineHeightLineheightsCoreDefault;    
$measureLineHeightLineheightsSemanticTypographyCode: $measureLineHeightLineheightsCoreTight;    
$measureLineHeightLineheightsSemanticTypographyDetail: $measureLineHeightLineheightsCoreTight;    
$measureFontSizeFontsizesSemanticActionsS: $measureFontSizeFontsizesCore3;    
$measureFontSizeFontsizesSemanticActionsM: $measureFontSizeFontsizesCore4;    
$measureFontSizeFontsizesSemanticActionsL: $measureFontSizeFontsizesCore5;    
$measureFontSizeFontsizesSemanticActionsXl: $measureFontSizeFontsizesCore6;    
$measureFontSizeFontsizesSemanticTypographyHeadingXs: $measureFontSizeFontsizesCore4;    
$measureFontSizeFontsizesSemanticTypographyHeadingS: $measureFontSizeFontsizesCore5;    
$measureFontSizeFontsizesSemanticTypographyHeadingM: $measureFontSizeFontsizesCore7;    
$measureFontSizeFontsizesSemanticTypographyHeadingL: $measureFontSizeFontsizesCore10;    
$measureFontSizeFontsizesSemanticTypographyHeadingXl: $measureFontSizeFontsizesCore14;    
$measureFontSizeFontsizesSemanticTypographyHeadingXxl: $measureFontSizeFontsizesCore18;    
$measureFontSizeFontsizesSemanticTypographyHeadingD1: $measureFontSizeFontsizesCore27;    
$measureFontSizeFontsizesSemanticTypographyHeadingD2: $measureFontSizeFontsizesCore26;    
$measureFontSizeFontsizesSemanticTypographyHeadingD3: $measureFontSizeFontsizesCore25;    
$measureFontSizeFontsizesSemanticTypographyHeadingD4: $measureFontSizeFontsizesCore24;    
$measureFontSizeFontsizesSemanticTypographyBodyXs: $measureFontSizeFontsizesCore2;    
$measureFontSizeFontsizesSemanticTypographyBodyS: $measureFontSizeFontsizesCore3;    
$measureFontSizeFontsizesSemanticTypographyBodyM: $measureFontSizeFontsizesCore4;    
$measureFontSizeFontsizesSemanticTypographyBodyL: $measureFontSizeFontsizesCore5;    
$measureFontSizeFontsizesSemanticTypographyBodyXl: $measureFontSizeFontsizesCore6;    
$measureFontSizeFontsizesSemanticTypographyBodyXxl: $measureFontSizeFontsizesCore7;    
$measureFontSizeFontsizesSemanticTypographyBodyXxxl: $measureFontSizeFontsizesCore8;    
$measureFontSizeFontsizesSemanticTypographyCodeXs: $measureFontSizeFontsizesCore2;    
$measureFontSizeFontsizesSemanticTypographyCodeS: $measureFontSizeFontsizesCore3;    
$measureFontSizeFontsizesSemanticTypographyCodeM: $measureFontSizeFontsizesCore4;    
$measureFontSizeFontsizesSemanticTypographyCodeL: $measureFontSizeFontsizesCore5;    
$measureFontSizeFontsizesSemanticTypographyCodeXl: $measureFontSizeFontsizesCore6;    
$measureFontSizeFontsizesSemanticTypographyDetailS: $measureFontSizeFontsizesCore1;    
$measureFontSizeFontsizesSemanticTypographyDetailM: $measureFontSizeFontsizesCore2;    
$measureFontSizeFontsizesSemanticTypographyDetailL: $measureFontSizeFontsizesCore3;    
$measureFontSizeFontsizesSemanticTypographyDetailXl: $measureFontSizeFontsizesCore4;    
$measureFontSizeFontsizesSemanticInputsS: $measureFontSizeFontsizesCore3;    
$measureFontSizeFontsizesSemanticInputsXs: $measureFontSizeFontsizesCore3;    
$measureFontSizeFontsizesSemanticInputsXxs: $measureFontSizeFontsizesCore2;    
$measureFontSizeFontsizesSemanticInputsM: $measureFontSizeFontsizesCore4;    
$measureFontSizeFontsizesSemanticInputsL: $measureFontSizeFontsizesCore5;    
$measureFontSizeFontsizesSemanticInputsXl: $measureFontSizeFontsizesCore5;    
$measureFontSizeFontsizesSemanticFeedbackS: $measureFontSizeFontsizesCore3;    
$measureFontSizeFontsizesSemanticFeedbackM: $measureFontSizeFontsizesCore4;    
$measureFontSizeFontsizesSemanticFeedbackL: $measureFontSizeFontsizesCore5;    
$measureFontSizeFontsizesSemanticFeedbackXl: $measureFontSizeFontsizesCore6;    
$measureFontSizeFontsizesSemanticStatusS: $measureFontSizeFontsizesCore3;    
$measureFontSizeFontsizesSemanticStatusM: $measureFontSizeFontsizesCore4;    
$measureFontSizeFontsizesSemanticStatusL: $measureFontSizeFontsizesCore5;    
$measureFontSizeFontsizesSemanticStatusXl: $measureFontSizeFontsizesCore6;    
$measureFontSizeFontsizesSemanticNavigationXxs: $measureFontSizeFontsizesCore1;    
$measureFontSizeFontsizesSemanticNavigationXs: $measureFontSizeFontsizesCore1;    
$measureFontSizeFontsizesSemanticNavigationS: $measureFontSizeFontsizesCore1;    
$measureFontSizeFontsizesSemanticNavigationM: $measureFontSizeFontsizesCore2;    
$measureFontSizeFontsizesSemanticNavigationL: $measureFontSizeFontsizesCore3;    
$measureFontSizeFontsizesSemanticNavigationXl: $measureFontSizeFontsizesCore4;    
$measureFontSizeFontsizesSemanticNavigationXxl: $measureFontSizeFontsizesCore7;    
$measureFontSizeFontsizesSemanticNavigationXxxl: $measureFontSizeFontsizesCore8;    
$measureFontSizeFontsizesCompButtonSTextSize: $measureFontSizeFontsizesSemanticActionsS;    
$measureFontSizeFontsizesCompButtonMTextSize: $measureFontSizeFontsizesSemanticActionsM;    
$measureFontSizeFontsizesCompButtonLTextSize: $measureFontSizeFontsizesSemanticActionsL;    
$measureFontSizeFontsizesCompButtonXlTextSize: $measureFontSizeFontsizesSemanticActionsXl;    
$measureBorderWidthBorderwidthsSemanticActions: $measureBorderWidthBorderwidthsCore1;    
$measureBorderWidthBorderwidthsSemanticInputs: $measureBorderWidthBorderwidthsCore1;    
$measureBorderWidthBorderwidthsSemanticStatus: $measureBorderWidthBorderwidthsCore1;    
$measureBorderWidthBorderwidthsSemanticFeedback: $measureBorderWidthBorderwidthsCore1;    
$measureBorderWidthBorderwidthsSemanticNavigation: $measureBorderWidthBorderwidthsCore2;    
$measureBorderWidthBorderwidthsSemanticSlider: $measureBorderWidthBorderwidthsCore4;    
$measureBorderWidthBorderwidthsSemanticFocus: $measureBorderWidthBorderwidthsCore4;    
$measureBorderWidthBorderwidthsCompButtonBorderWidth: $measureBorderWidthBorderwidthsSemanticActions;    
$measureBorderWidthBorderwidthsCompButtonBorderWidthFocus: $measureBorderWidthBorderwidthsSemanticFocus;    
$measureBorderWidthBorderwidthsCompFormsInputs: $measureBorderWidthBorderwidthsSemanticInputs;    
$measureFontSizeFontsizesSemanticTypographyHeadingXxs: $measureFontSizeFontsizesCore3;    
$measureSpacingSpacingsCompAccordionSpacingBetween: $measureSpacingSpacingsSemanticUiSSpaceBetween;    
$measureSpacingSpacingsCompAccordionLargePaddingLeft: $measureSpacingSpacingsSemanticInputsLargePaddingLeft;    
$measureSpacingSpacingsCompAccordionLargePaddingRight: $measureSpacingSpacingsSemanticInputsLargePaddingRight;    
$measureSpacingSpacingsCompAccordionLargePaddingTop: $measureSpacingSpacingsSemanticInputsLargePaddingTop;    
$measureSpacingSpacingsCompAccordionLargePaddingBottom: $measureSpacingSpacingsSemanticInputsLargePaddingBottom;    
$measureSpacingSpacingsCompAccordionIconsPaddingLeft: $measureSpacingSpacingsSemanticInputsLargePaddingLeft;    
$measureSpacingSpacingsCompAccordionIconsPaddingRight: $measureSpacingSpacingsSemanticInputsLargePaddingRight;    
$measureSpacingSpacingsCompAccordionIconsPaddingTop: $measureSpacingSpacingsSemanticInputsMediumPaddingTop;    
$measureSpacingSpacingsCompAccordionIconsPaddingBottom: $measureSpacingSpacingsSemanticInputsMediumPaddingBottom;    
$measureSpacingSpacingsCompAccordionMediumPaddingLeft: $measureSpacingSpacingsSemanticInputsMediumPaddingLeft;    
$measureSpacingSpacingsCompAccordionMediumPaddingRight: $measureSpacingSpacingsSemanticInputsMediumPaddingRight;    
$measureSpacingSpacingsCompAccordionMediumPaddingTop: $measureSpacingSpacingsSemanticInputsMediumPaddingTop;    
$measureSpacingSpacingsCompAccordionMediumPaddingBottom: $measureSpacingSpacingsSemanticInputsMediumPaddingBottom;    
$measureSpacingSpacingsCompAccordionSmallPaddingLeft: $measureSpacingSpacingsSemanticInputsMediumPaddingLeft;    
$measureSpacingSpacingsCompAccordionSmallPaddingRight: $measureSpacingSpacingsSemanticInputsMediumPaddingRight;    
$measureSpacingSpacingsCompAccordionSmallPaddingTop: $measureSpacingSpacingsSemanticInputsSmallPaddingTop;    
$measureSpacingSpacingsCompAccordionSmallPaddingBottom: $measureSpacingSpacingsSemanticInputsSmallPaddingTop;    
$measureSizingSizesCompAccordionIconsLarge: $measureSizingSizesSemanticActionsIconSizeMedium;    
$measureSizingSizesCompAccordionIconsMedium: $measureSizingSizesSemanticActionsIconSizeMedium;    
$measureSizingSizesCompAccordionIconsSmall: $measureSizingSizesSemanticActionsIconSizeMedium;    
$measureSizingSizesCompAccordionLarge: $measureSizingSizesSemanticComponentExtraLarge;    
$measureSizingSizesCompAccordionMedium: $measureSizingSizesSemanticComponentLarge;    
$measureSizingSizesCompAccordionSmall: $measureSizingSizesSemanticComponentMedium;    
$measureSpacingSpacingsCompAccordionLargeSpacingBetween: $measureSpacingSpacingsSemanticUiSSpaceBetween;    
$measureSpacingSpacingsCompAccordionSmallSpacingBetween: $measureSpacingSpacingsSemanticUiXsSpaceBetween;    
$measureBorderWidthBorderwidthsCompAccordionDefault: $measureBorderWidthBorderwidthsSemanticInputs;    
$measureBorderWidthBorderwidthsCompAccordionOpen: $measureBorderWidthBorderwidthsSemanticNavigation;    
