$core-elevation-light-shadow-100: 0 0 0.063px 0 rgba(9,30,66,0.31), 0 0.063px 0.063px 0 rgba(9,30,66,0.25);  
$core-elevation-light-shadow-200: 0 0 0.063px 0 rgba(9,30,66,0.31), 0 0.5px 0.75px 0 rgba(9,30,66,0.15);  
$core-elevation-light-shadow-300: 0 0 0.063px 0 rgba(9,30,66,0.12), 0 0 0.5px 0 rgba(9,30,66,0.16);  
$core-elevation-dark-shadow-100: 0 0 0.063px 0 rgba(9,30,66,0.16), 0 0.063px 0.063px 0 rgba(9,30,66,0.16), inset 0 0 0 0 rgba(9,30,66,0.12);  
$core-elevation-dark-shadow-200: 0 0 0.063px 0 rgba(9,30,66,0.16), 0 0.5px 0.75px 0 rgba(9,30,66,0.15), 0 0 0 0 rgba(9,30,66,0.31);  
$core-elevation-dark-shadow-300: 0 0 0.063px 0 rgba(9,30,66,0.16), 0 0 0.75px 0 rgba(9,30,66,0.25);  
$semantic-elevation-shadow-dark-raised: $core-elevation-dark-shadow-100;  
$semantic-elevation-shadow-dark-overlay: $core-elevation-dark-shadow-200;  
$semantic-elevation-shadow-dark-overflow: $core-elevation-dark-shadow-300;  
$semantic-elevation-shadow-light-raised: $core-elevation-light-shadow-100;  
$semantic-elevation-shadow-light-overlay: $core-elevation-light-shadow-100;  
$semantic-elevation-shadow-light-overflow: $core-elevation-light-shadow-100;  
