$shadowShadowsSemanticUiShadow: 0 8px 10px 0 rgba(0,0,0,0.07);  
$shadowShadowsSemanticUiFocus: 0 0 4px 0 rgba(0,114,206,0.5);  
$shadowShadowsSemanticUiError: 0 0 4px 0 rgba(183,21,58,0.5);  
$shadowShadowsSemanticUiWarning: 0 0 4px 0 rgba(242,169,0,0.5);  
$shadowShadowsSemanticUiSuccess: 0 0 4px 0 rgba(0,122,51,0.5);  
$shadowShadowsCoreXs: 0 2px 4px 0 rgba(0,0,0,0.1);  
$shadowShadowsCoreSmall: 0 2px 4px 0 rgba(0,0,0,0.1);  
$shadowShadowsCoreMedium: 0 6px 10px 0 rgba(0,0,0,0.1);  
$shadowShadowsCoreLarge: 0 8px 10px 0 rgba(0,0,0,0.1);  
$shadowShadowsCoreXl: 0 12px 17px 0 rgba(0,0,0,0.1);  
$shadowShadowsCoreXxl: 0 24px 38px 0 rgba(0,0,0,0.1);  
$shadowShadowsCompFormsFocus: $shadowShadowsSemanticUiFocus;  
$shadowShadowsCompFormsError: $shadowShadowsSemanticUiError;  
$shadowShadowsCompFormsWarning: $shadowShadowsSemanticUiWarning;  
$shadowShadowsCompFormsSuccess: $shadowShadowsSemanticUiSuccess;  
