
.typographyTypographyCoreTextNormalLight 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextNormalRegular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextNormalMedium 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextNormalBold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextXsLight 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextXsRegular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextXsMedium 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextXsBold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextSmallLight 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextSmallRegular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextSmallMedium 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextSmallBold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextLargeLight 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextLargeRegular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextLargeMedium 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreTextLargeBold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreH6Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreH6Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreH5Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreH5Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreH4Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreH4Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreH3Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.625em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreH3Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.625em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreH2Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreH2Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreH1Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCoreH1Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodyRegular 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodyBold 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodyLight 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodyMedium 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallRegular 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallBold 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallLight 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallMedium 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallH6Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallH6Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallH5Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallH5Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallH4Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallH4Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallH3Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.625em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallH3Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.625em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallH2Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallH2Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallH1Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographySemanticBodySmallH1Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompFormsTextinputMedium 
{ 
  
  font-family: "{fontFamilies.semantic.inputs}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompFormsTextinputLarge 
{ 
  
  font-family: "{fontFamilies.semantic.inputs}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompFormsTextinputExtraLarge 
{ 
  
  font-family: "{fontFamilies.semantic.inputs}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompFormsTextinputSmall 
{ 
  
  font-family: "{fontFamilies.semantic.inputs}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompFormsTextinputExtraSmall 
{ 
  
  font-family: "{fontFamilies.semantic.inputs}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompFormsTextinputLabel 
{ 
  
  font-family: "{fontFamilies.semantic.inputs}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompAccordionLargeTitleClosed 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompAccordionLargeBody 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompAccordionLargeTitleOpen 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompAccordionMediumBody 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompAccordionMediumTitleClosed 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompAccordionMediumTitleOpen 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompAccordionSmallBody 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompAccordionSmallTitleClosed 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.typographyTypographyCompAccordionSmallTitleOpen 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextNormalLight 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextNormalRegular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextNormalMedium 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextNormalBold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextXsLight 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextXsRegular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextXsMedium 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextXsBold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextSmallLight 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextSmallRegular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextSmallMedium 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextSmallBold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextLargeLight 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextLargeRegular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextLargeMedium 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreTextLargeBold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreH6Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreH6Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreH5Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreH5Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreH4Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreH4Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreH3Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.625em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreH3Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.625em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreH2Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreH2Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreH1Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCoreH1Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodyRegular 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodyBold 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodyLight 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodyMedium 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallRegular 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallBold 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallLight 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallMedium 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallH6Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallH6Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallH5Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallH5Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallH4Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallH4Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallH3Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.625em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallH3Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.625em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallH2Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallH2Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallH1Regular 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographySemanticBodySmallH1Bold 
{ 
  
  font-family: "{fontFamilies.core.default}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875em;
  line-height: $measureLineHeightLineheightsCoreDefault;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompFormsTextinputMedium 
{ 
  
  font-family: "{fontFamilies.semantic.inputs}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompFormsTextinputLarge 
{ 
  
  font-family: "{fontFamilies.semantic.inputs}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompFormsTextinputExtraLarge 
{ 
  
  font-family: "{fontFamilies.semantic.inputs}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompFormsTextinputSmall 
{ 
  
  font-family: "{fontFamilies.semantic.inputs}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompFormsTextinputExtraSmall 
{ 
  
  font-family: "{fontFamilies.semantic.inputs}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompFormsTextinputLabel 
{ 
  
  font-family: "{fontFamilies.semantic.inputs}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompAccordionLargeTitleClosed 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompAccordionLargeBody 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompAccordionLargeTitleOpen 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompAccordionMediumBody 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompAccordionMediumTitleClosed 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompAccordionMediumTitleOpen 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompAccordionSmallBody 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyBody;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompAccordionSmallTitleClosed 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin typographyTypographyCompAccordionSmallTitleOpen 
{ 
  
  font-family: "{fontFamilies.semantic.typography.sans-serif}";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: $measureLineHeightLineheightsSemanticTypographyHeading;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

