
.semantic-typography-headline-headline-100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-100;
  line-height: $core-font-lineheight-300;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-headline-headline-200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-200;
  line-height: $core-font-lineheight-300;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-headline-headline-300 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-300;
  line-height: $core-font-lineheight-400;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-headline-headline-400 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-500;
  line-height: $core-font-lineheight-500;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-headline-headline-500 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-600;
  line-height: $core-font-lineheight-600;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-headline-headline-600 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-700;
  line-height: $core-font-lineheight-700;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-headline-headline-700 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-800;
  line-height: $core-font-lineheight-800;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-headline-headline-800 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-900;
  line-height: $core-font-lineheight-900;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-headline-headline-900 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-1000;
  line-height: $core-font-lineheight-1000;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-body-body-100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $core-font-fontsize-100;
  line-height: $core-font-lineheight-300;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-body-body-200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $core-font-fontsize-200;
  line-height: $core-font-lineheight-400;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-body-body-300 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $core-font-fontsize-300;
  line-height: $core-font-lineheight-500;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-ui-ui-100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $core-font-fontsize-100;
  line-height: $core-font-lineheight-100;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-ui-ui-100b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-100;
  line-height: $core-font-lineheight-100;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-ui-ui-200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $core-font-fontsize-200;
  line-height: $core-font-lineheight-200;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

.semantic-typography-ui-ui-200b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-200;
  line-height: $core-font-lineheight-200;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-headline-headline-100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-100;
  line-height: $core-font-lineheight-300;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-headline-headline-200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-200;
  line-height: $core-font-lineheight-300;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-headline-headline-300 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-300;
  line-height: $core-font-lineheight-400;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-headline-headline-400 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-500;
  line-height: $core-font-lineheight-500;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-headline-headline-500 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-600;
  line-height: $core-font-lineheight-600;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-headline-headline-600 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-700;
  line-height: $core-font-lineheight-700;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-headline-headline-700 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-800;
  line-height: $core-font-lineheight-800;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-headline-headline-800 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-900;
  line-height: $core-font-lineheight-900;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-headline-headline-900 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-1000;
  line-height: $core-font-lineheight-1000;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-body-body-100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $core-font-fontsize-100;
  line-height: $core-font-lineheight-300;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-body-body-200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $core-font-fontsize-200;
  line-height: $core-font-lineheight-400;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-body-body-300 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $core-font-fontsize-300;
  line-height: $core-font-lineheight-500;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-ui-ui-100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $core-font-fontsize-100;
  line-height: $core-font-lineheight-100;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-ui-ui-100b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-100;
  line-height: $core-font-lineheight-100;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-ui-ui-200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $core-font-fontsize-200;
  line-height: $core-font-lineheight-200;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

@mixin semantic-typography-ui-ui-200b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $core-font-fontsize-200;
  line-height: $core-font-lineheight-200;
  letter-spacing: 0rem;
  
  text-indent: 0rem; 
}    

