$core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00: #0b253b;    
$core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00: #09326c;    
$core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00: #0055cc;    
$core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00: #0c66e4;    
$core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00: #1d7afc;    
$core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00: #388bff;    
$core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00: #579dff;    
$core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00: #85b8ff;    
$core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00: #cce0ff;    
$core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_000: #e9f2ff;    
$core_object_Object_olor_object_Object_pple_object_Object_pple_object_Object_00: #28311b;    
$core_object_Object_olor_object_Object_pple_object_Object_pple_object_Object_00: #37471f;    
$core_object_Object_olor_object_Object_pple_object_Object_pple_object_Object_00: #4c6b1f;    
$core_object_Object_olor_object_Object_pple_object_Object_pple_object_Object_00: #5b7f24;    
$core_object_Object_olor_object_Object_pple_object_Object_pple_object_Object_00: #6a9a23;    
$core_object_Object_olor_object_Object_pple_object_Object_pple_object_Object_00: #82b536;    
$core_object_Object_olor_object_Object_pple_object_Object_pple_object_Object_00: #94c748;    
$core_object_Object_olor_object_Object_pple_object_Object_pple_object_Object_00: #b3df72;    
$core_object_Object_olor_object_Object_pple_object_Object_pple_object_Object_00: #d3f1a7;    
$core_object_Object_olor_object_Object_pple_object_Object_pple_object_Object_000: #efffd6;    
$core_object_Object_olor_object_Object_reen_object_Object_reen_object_Object_00: #1c3329;    
$core_object_Object_olor_object_Object_reen_object_Object_reen_object_Object_00: #164b35;    
$core_object_Object_olor_object_Object_reen_object_Object_reen_object_Object_00: #216e4e;    
$core_object_Object_olor_object_Object_reen_object_Object_reen_object_Object_00: #1f845a;    
$core_object_Object_olor_object_Object_reen_object_Object_reen_object_Object_00: #22a06b;    
$core_object_Object_olor_object_Object_reen_object_Object_reen_object_Object_00: #2abb7f;    
$core_object_Object_olor_object_Object_reen_object_Object_reen_object_Object_00: #4bce97;    
$core_object_Object_olor_object_Object_reen_object_Object_reen_object_Object_00: #7ee2b8;    
$core_object_Object_olor_object_Object_reen_object_Object_reen_object_Object_00: #baf3db;    
$core_object_Object_olor_object_Object_reen_object_Object_reen_object_Object_000: #dcfff1;    
$core_object_Object_olor_object_Object_agenta_object_Object_agenta_object_Object_00: #3d2232;    
$core_object_Object_olor_object_Object_agenta_object_Object_agenta_object_Object_00: #50253f;    
$core_object_Object_olor_object_Object_agenta_object_Object_agenta_object_Object_00: #943d73;    
$core_object_Object_olor_object_Object_agenta_object_Object_agenta_object_Object_00: #ae4787;    
$core_object_Object_olor_object_Object_agenta_object_Object_agenta_object_Object_00: #cd519d;    
$core_object_Object_olor_object_Object_agenta_object_Object_agenta_object_Object_00: #da62ac;    
$core_object_Object_olor_object_Object_agenta_object_Object_agenta_object_Object_00: #e774bb;    
$core_object_Object_olor_object_Object_agenta_object_Object_agenta_object_Object_00: #f797d2;    
$core_object_Object_olor_object_Object_agenta_object_Object_agenta_object_Object_00: #fdd0ec;    
$core_object_Object_olor_object_Object_agenta_object_Object_agenta_object_Object_000: #ffecf8;    
$core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a: #bcd6f00a;    
$core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a: #a1bdd914;    
$core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_50a: #c8e1f91a;    
$core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a: #a6c5e229;    
$core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_50a: #c3defe33;    
$core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a: #bfdbf847;    
$core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a: #9bb4ca80;    
$core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_: #101214;    
$core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00: #1d2125;    
$core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00: #22272b;    
$core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00: #2c333a;    
$core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00: #454f59;    
$core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00: #596773;    
$core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00: #738496;    
$core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00: #8c9bab;    
$core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00: #9fadbc;    
$core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00: #b6c2cf;    
$core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_50: #c7d1db;    
$core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_000: #dee4ea;    
$core_object_Object_olor_object_Object_range_object_Object_range_object_Object_00: #38291e;    
$core_object_Object_olor_object_Object_range_object_Object_range_object_Object_00: #702e00;    
$core_object_Object_olor_object_Object_range_object_Object_range_object_Object_00: #a54800;    
$core_object_Object_olor_object_Object_range_object_Object_range_object_Object_00: #c25100;    
$core_object_Object_olor_object_Object_range_object_Object_range_object_Object_00: #e56910;    
$core_object_Object_olor_object_Object_range_object_Object_range_object_Object_00: #f38a3f;    
$core_object_Object_olor_object_Object_range_object_Object_range_object_Object_00: #fea362;    
$core_object_Object_olor_object_Object_range_object_Object_range_object_Object_00: #fec195;    
$core_object_Object_olor_object_Object_range_object_Object_range_object_Object_00: #fedec8;    
$core_object_Object_olor_object_Object_range_object_Object_range_object_Object_000: #fff3eb;    
$core_object_Object_olor_object_Object_etrol_object_Object_etrol_object_Object_00: #1e3137;    
$core_object_Object_olor_object_Object_etrol_object_Object_etrol_object_Object_00: #164555;    
$core_object_Object_olor_object_Object_etrol_object_Object_etrol_object_Object_00: #206a83;    
$core_object_Object_olor_object_Object_etrol_object_Object_etrol_object_Object_00: #227d9b;    
$core_object_Object_olor_object_Object_etrol_object_Object_etrol_object_Object_00: #2898bd;    
$core_object_Object_olor_object_Object_etrol_object_Object_etrol_object_Object_00: #42b2d7;    
$core_object_Object_olor_object_Object_etrol_object_Object_etrol_object_Object_00: #6cc3e0;    
$core_object_Object_olor_object_Object_etrol_object_Object_etrol_object_Object_00: #9dd9ee;    
$core_object_Object_olor_object_Object_etrol_object_Object_etrol_object_Object_00: #c6edfb;    
$core_object_Object_olor_object_Object_etrol_object_Object_etrol_object_Object_000: #e7f9ff;    
$core_object_Object_olor_object_Object_urple_object_Object_urple_object_Object_00: #2b273f;    
$core_object_Object_olor_object_Object_urple_object_Object_urple_object_Object_00: #352c63;    
$core_object_Object_olor_object_Object_urple_object_Object_urple_object_Object_00: #5e4db2;    
$core_object_Object_olor_object_Object_urple_object_Object_urple_object_Object_00: #6e5dc6;    
$core_object_Object_olor_object_Object_urple_object_Object_urple_object_Object_00: #8270db;    
$core_object_Object_olor_object_Object_urple_object_Object_urple_object_Object_00: #8f7ee7;    
$core_object_Object_olor_object_Object_urple_object_Object_urple_object_Object_00: #9f8fef;    
$core_object_Object_olor_object_Object_urple_object_Object_urple_object_Object_00: #b8acf6;    
$core_object_Object_olor_object_Object_urple_object_Object_urple_object_Object_00: #dfd8fd;    
$core_object_Object_olor_object_Object_urple_object_Object_urple_object_Object_000: #f3f0ff;    
$core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00: #42221f;    
$core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00: #5d1f1a;    
$core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00: #ae2e24;    
$core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00: #c9372c;    
$core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00: #e2483d;    
$core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00: #f15b50;    
$core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00: #f87168;    
$core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00: #fd9891;    
$core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00: #ffd5d2;    
$core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_000: #ffeceb;    
$core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00: #332e1b;    
$core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00: #533f04;    
$core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00: #7f5f01;    
$core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00: #946f00;    
$core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00: #b38600;    
$core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00: #cf9f02;    
$core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00: #e2b203;    
$core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00: #f5cd47;    
$core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00: #f8e6a0;    
$core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_000: #fff7d6;    
$core_object_Object_olor_object_Object_hadow_object_Object_hadow_object_Object_00: #00000000;    
$core_object_Object_olor_object_Object_hadow_object_Object_hadow_object_Object_00: #0304045c;    
$core_object_Object_olor_object_Object_hadow_object_Object_hadow_object_Object_00: #03040480;    
$core_object_Object_olor_object_Object_hadow_object_Object_hadow_object_Object_00: #0304048f;    
$core_object_Object_olor_object_Object_hadow_object_Object_hadow_object_Object_00: #39424a;    
$core_object_Object_olor_object_Object_ransparent_object_Object_ransparent_object_Object_lue_object_Object_00: #1d7afc12;    
$core_object_Object_olor_object_Object_ransparent_object_Object_ransparent_object_Object_ed_object_Object_00: #e3493512;    
$core_object_Object_olor_object_Object_ransparent_object_Object_ransparent_object_Object_reen_object_Object_00: #1f845a12;    
/* Use for background that should use the primary brand color such as buttons. */
$semantic_object_Object_olor_object_Object_ackground_object_Object_rimary_object_Object_efault: $core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00;    
/* Use for hovered background that should use the primary brand color such as buttons. */
$semantic_object_Object_olor_object_Object_ackground_object_Object_rimary_object_Object_overed: $core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00;    
/* Use for pressed background that should use the primary brand color such as buttons. */
$semantic_object_Object_olor_object_Object_ackground_object_Object_rimary_object_Object_ressed: $core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00;    
/* Use for selected background that should use the primary brand color such as buttons. */
$semantic_object_Object_olor_object_Object_ackground_object_Object_rimary_object_Object_elected: $core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00;    
/* Use for üdisabled background that should use the primary brand color such as buttons. */
$semantic_object_Object_olor_object_Object_ackground_object_Object_rimary_object_Object_isabled: $core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a;    
/* Use for disabled background that is used as a surface */
$semantic_object_Object_olor_object_Object_ackground_object_Object_ase_object_Object_isabled: $core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a;    
/* Use for background that is used as a surface */
$semantic_object_Object_olor_object_Object_ackground_object_Object_ase_object_Object_efault: $core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_;    
/* Use for hovered background that is used as a surface */
$semantic_object_Object_olor_object_Object_ackground_object_Object_ase_object_Object_overed: $core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00;    
/* Use for pressed background that is used as a surface */
$semantic_object_Object_olor_object_Object_ackground_object_Object_ase_object_Object_ressed: $core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00;    
/* Use for hovered background that is used as a secondary surface */
$semantic_object_Object_olor_object_Object_ackground_object_Object_econdary_object_Object_overed: $core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a;    
/* Use for pressed background that is used as a secondary surface */
$semantic_object_Object_olor_object_Object_ackground_object_Object_econdary_object_Object_ressed: $core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a;    
/* Use for background that is used as a secondary surface */
$semantic_object_Object_olor_object_Object_ackground_object_Object_econdary_object_Object_efault: $core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00;    
/* Use for disabled background that is used as a secondary surface */
$semantic_object_Object_olor_object_Object_ackground_object_Object_econdary_object_Object_isabled: $core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a;    
/* Use for background that is used as a very subtle surface */
$semantic_object_Object_olor_object_Object_ackground_object_Object_econdary_object_Object_ubtle_object_Object_efault: $core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a;    
/* Use for a background that is indicating a warning state, such as warning buttons */
$semantic_object_Object_olor_object_Object_ackground_object_Object_arning_object_Object_efault: $core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00;    
/* Use for a hovered background that is indicating a warning state, such as warning buttons */
$semantic_object_Object_olor_object_Object_ackground_object_Object_arning_object_Object_overed: $core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00;    
/* Use for a pressed background that is indicating a warning state, such as warning buttons */
$semantic_object_Object_olor_object_Object_ackground_object_Object_arning_object_Object_ressed: $core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00;    
/* Use for a selected background that is indicating a warning state, such as warning buttons */
$semantic_object_Object_olor_object_Object_ackground_object_Object_arning_object_Object_elected: $core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00;    
/* Use for a disabled background that is indicating a warning state, such as warning buttons */
$semantic_object_Object_olor_object_Object_ackground_object_Object_arning_object_Object_isabled: $core_object_Object_olor_object_Object_ellow_object_Object_ellow_object_Object_00;    
$semantic_object_Object_olor_object_Object_ackground_object_Object_anger_object_Object_efault: $core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00;    
$semantic_object_Object_olor_object_Object_ackground_object_Object_anger_object_Object_overed: $core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00;    
$semantic_object_Object_olor_object_Object_ackground_object_Object_anger_object_Object_ressed: $core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00;    
$semantic_object_Object_olor_object_Object_ackground_object_Object_anger_object_Object_elected: $core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00;    
$semantic_object_Object_olor_object_Object_ackground_object_Object_anger_object_Object_isbaled: $core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00;    
$semantic_object_Object_olor_object_Object_ackground_object_Object_anger_object_Object_ubtle_object_Object_efault: $core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00;    
$semantic_object_Object_olor_object_Object_ackground_object_Object_anger_object_Object_ubtle_object_Object_overed: $core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00;    
$semantic_object_Object_olor_object_Object_ackground_object_Object_ransparent_object_Object_efault: $core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a;    
$semantic_object_Object_olor_object_Object_ackground_object_Object_ransparent_object_Object_anger: $core_object_Object_olor_object_Object_ransparent_object_Object_ransparent_object_Object_ed_object_Object_00;    
$semantic_object_Object_olor_object_Object_ackground_object_Object_ransparent_object_Object_elected: $core_object_Object_olor_object_Object_ransparent_object_Object_ransparent_object_Object_lue_object_Object_00;    
$semantic_object_Object_olor_object_Object_ackground_object_Object_ransparent_object_Object_uccess: $core_object_Object_olor_object_Object_ransparent_object_Object_ransparent_object_Object_reen_object_Object_00;    
$semantic_object_Object_olor_object_Object_ext_object_Object_ase_object_Object_efault: $core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_50;    
$semantic_object_Object_olor_object_Object_ext_object_Object_ase_object_Object_isabled: $core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a;    
$semantic_object_Object_olor_object_Object_ext_object_Object_nverted_object_Object_efault: $core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_;    
$semantic_object_Object_olor_object_Object_ext_object_Object_rimary_object_Object_efault: $core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00;    
$semantic_object_Object_olor_object_Object_ext_object_Object_anger_object_Object_efault: $core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00;    
$semantic_object_Object_olor_object_Object_ext_object_Object_uccess_object_Object_efault: $core_object_Object_olor_object_Object_reen_object_Object_reen_object_Object_00;    
$semantic_object_Object_olor_object_Object_ext_object_Object_econdary_object_Object_efault: $core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00;    
$semantic_object_Object_olor_object_Object_order_object_Object_rimary_object_Object_efault: $core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00;    
$semantic_object_Object_olor_object_Object_order_object_Object_rimary_object_Object_elected: $core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00;    
$semantic_object_Object_olor_object_Object_order_object_Object_anger_object_Object_efault: $core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00;    
$semantic_object_Object_olor_object_Object_order_object_Object_ase_object_Object_efault: $core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a;    
$semantic_object_Object_olor_object_Object_order_object_Object_ase_object_Object_ressed: $core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00;    
$semantic_object_Object_olor_object_Object_order_object_Object_ase_object_Object_overed: $core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a;    
$semantic_object_Object_olor_object_Object_order_object_Object_ase_object_Object_isabled: $core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_00;    
$semantic_object_Object_olor_object_Object_con_object_Object_ase_object_Object_efault: $core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_50;    
$semantic_object_Object_olor_object_Object_con_object_Object_ase_object_Object_isabled: $core_object_Object_olor_object_Object_eutrala_object_Object_eutral_object_Object_00a;    
$semantic_object_Object_olor_object_Object_con_object_Object_nverted_object_Object_efault: $core_object_Object_olor_object_Object_eutral_object_Object_eutral_object_Object_;    
$semantic_object_Object_olor_object_Object_con_object_Object_rimary_object_Object_efault: $core_object_Object_olor_object_Object_lue_object_Object_lue_object_Object_00;    
$semantic_object_Object_olor_object_Object_con_object_Object_anger_object_Object_efault: $core_object_Object_olor_object_Object_ed_object_Object_ed_object_Object_00;    
$semantic_object_Object_olor_object_Object_con_object_Object_uccess_object_Object_efault: $core_object_Object_olor_object_Object_reen_object_Object_reen_object_Object_00;    
