$core-color--blue-100: #0b253b;    
$core-color--blue-200: #09326c;    
$core-color--blue-300: #0055cc;    
$core-color--blue-400: #0c66e4;    
$core-color--blue-500: #1d7afc;    
$core-color--blue-600: #388bff;    
$core-color--blue-700: #579dff;    
$core-color--blue-800: #85b8ff;    
$core-color--blue-900: #cce0ff;    
$core-color--blue-1000: #e9f2ff;    
$core-color--apple-100: #28311b;    
$core-color--apple-200: #37471f;    
$core-color--apple-300: #4c6b1f;    
$core-color--apple-400: #5b7f24;    
$core-color--apple-500: #6a9a23;    
$core-color--apple-600: #82b536;    
$core-color--apple-700: #94c748;    
$core-color--apple-800: #b3df72;    
$core-color--apple-900: #d3f1a7;    
$core-color--apple-1000: #efffd6;    
$core-color--green-100: #1c3329;    
$core-color--green-200: #164b35;    
$core-color--green-300: #216e4e;    
$core-color--green-400: #1f845a;    
$core-color--green-500: #22a06b;    
$core-color--green-600: #2abb7f;    
$core-color--green-700: #4bce97;    
$core-color--green-800: #7ee2b8;    
$core-color--green-900: #baf3db;    
$core-color--green-1000: #dcfff1;    
$core-color--magenta-100: #3d2232;    
$core-color--magenta-200: #50253f;    
$core-color--magenta-300: #943d73;    
$core-color--magenta-400: #ae4787;    
$core-color--magenta-500: #cd519d;    
$core-color--magenta-600: #da62ac;    
$core-color--magenta-700: #e774bb;    
$core-color--magenta-800: #f797d2;    
$core-color--magenta-900: #fdd0ec;    
$core-color--magenta-1000: #ffecf8;    
$core-color--neutral-100a: #bcd6f00a;    
$core-color--neutral-200a: #a1bdd914;    
$core-color--neutral-250a: #c8e1f91a;    
$core-color--neutral-300a: #a6c5e229;    
$core-color--neutral-350a: #c3defe33;    
$core-color--neutral-400a: #bfdbf847;    
$core-color--neutral-500a: #9bb4ca80;    
$core-color--neutral-0: #101214;    
$core-color--neutral-100: #1d2125;    
$core-color--neutral-200: #22272b;    
$core-color--neutral-300: #2c333a;    
$core-color--neutral-400: #454f59;    
$core-color--neutral-500: #596773;    
$core-color--neutral-600: #738496;    
$core-color--neutral-700: #8c9bab;    
$core-color--neutral-800: #9fadbc;    
$core-color--neutral-900: #b6c2cf;    
$core-color--neutral-950: #c7d1db;    
$core-color--neutral-1000: #dee4ea;    
$core-color--orange-100: #38291e;    
$core-color--orange-200: #702e00;    
$core-color--orange-300: #a54800;    
$core-color--orange-400: #c25100;    
$core-color--orange-500: #e56910;    
$core-color--orange-600: #f38a3f;    
$core-color--orange-700: #fea362;    
$core-color--orange-800: #fec195;    
$core-color--orange-900: #fedec8;    
$core-color--orange-1000: #fff3eb;    
$core-color--petrol-100: #1e3137;    
$core-color--petrol-200: #164555;    
$core-color--petrol-300: #206a83;    
$core-color--petrol-400: #227d9b;    
$core-color--petrol-500: #2898bd;    
$core-color--petrol-600: #42b2d7;    
$core-color--petrol-700: #6cc3e0;    
$core-color--petrol-800: #9dd9ee;    
$core-color--petrol-900: #c6edfb;    
$core-color--petrol-1000: #e7f9ff;    
$core-color--purple-100: #2b273f;    
$core-color--purple-200: #352c63;    
$core-color--purple-300: #5e4db2;    
$core-color--purple-400: #6e5dc6;    
$core-color--purple-500: #8270db;    
$core-color--purple-600: #8f7ee7;    
$core-color--purple-700: #9f8fef;    
$core-color--purple-800: #b8acf6;    
$core-color--purple-900: #dfd8fd;    
$core-color--purple-1000: #f3f0ff;    
$core-color--red-100: #42221f;    
$core-color--red-200: #5d1f1a;    
$core-color--red-300: #ae2e24;    
$core-color--red-400: #c9372c;    
$core-color--red-500: #e2483d;    
$core-color--red-600: #f15b50;    
$core-color--red-700: #f87168;    
$core-color--red-800: #fd9891;    
$core-color--red-900: #ffd5d2;    
$core-color--red-1000: #ffeceb;    
$core-color--yellow-100: #332e1b;    
$core-color--yellow-200: #533f04;    
$core-color--yellow-300: #7f5f01;    
$core-color--yellow-400: #946f00;    
$core-color--yellow-500: #b38600;    
$core-color--yellow-600: #cf9f02;    
$core-color--yellow-700: #e2b203;    
$core-color--yellow-800: #f5cd47;    
$core-color--yellow-900: #f8e6a0;    
$core-color--yellow-1000: #fff7d6;    
$core-color--shadow-100: #00000000;    
$core-color--shadow-200: #0304045c;    
$core-color--shadow-300: #03040480;    
$core-color--shadow-400: #0304048f;    
$core-color--shadow-500: #39424a;    
$core-color--transparent-blue-100: #1d7afc12;    
$core-color--transparent-red-100: #e3493512;    
$core-color--transparent-green-100: #1f845a12;    
/* Use for background that should use the primary brand color such as buttons. */
$semantic-color-background--default: $core-color--blue-700;    
/* Use for hovered background that should use the primary brand color such as buttons. */
$semantic-color-background--hovered: $core-color--blue-800;    
/* Use for pressed background that should use the primary brand color such as buttons. */
$semantic-color-background--pressed: $core-color--blue-900;    
/* Use for selected background that should use the primary brand color such as buttons. */
$semantic-color-background--selected: $core-color--blue-100;    
/* Use for üdisabled background that should use the primary brand color such as buttons. */
$semantic-color-background--disabled: $core-color--neutral-100a;    
/* Use for disabled background that is used as a surface */
$semantic-color-background--disabled: $core-color--neutral-100a;    
/* Use for background that is used as a surface */
$semantic-color-background--default: $core-color--neutral-0;    
/* Use for hovered background that is used as a surface */
$semantic-color-background--hovered: $core-color--neutral-200;    
/* Use for pressed background that is used as a surface */
$semantic-color-background--pressed: $core-color--neutral-300;    
/* Use for hovered background that is used as a secondary surface */
$semantic-color-background--hovered: $core-color--neutral-100a;    
/* Use for pressed background that is used as a secondary surface */
$semantic-color-background--pressed: $core-color--neutral-200a;    
/* Use for background that is used as a secondary surface */
$semantic-color-background--default: $core-color--neutral-100;    
/* Use for disabled background that is used as a secondary surface */
$semantic-color-background--disabled: $core-color--neutral-100a;    
/* Use for background that is used as a very subtle surface */
$semantic-color-background-secondary--default: $core-color--neutral-100a;    
/* Use for a background that is indicating a warning state, such as warning buttons */
$semantic-color-background--default: $core-color--yellow-300;    
/* Use for a hovered background that is indicating a warning state, such as warning buttons */
$semantic-color-background--hovered: $core-color--yellow-400;    
/* Use for a pressed background that is indicating a warning state, such as warning buttons */
$semantic-color-background--pressed: $core-color--yellow-500;    
/* Use for a selected background that is indicating a warning state, such as warning buttons */
$semantic-color-background--selected: $core-color--yellow-200;    
/* Use for a disabled background that is indicating a warning state, such as warning buttons */
$semantic-color-background--disabled: $core-color--yellow-100;    
$semantic-color-background--default: $core-color--red-700;    
$semantic-color-background--hovered: $core-color--red-800;    
$semantic-color-background--pressed: $core-color--red-900;    
$semantic-color-background--selected: $core-color--red-200;    
$semantic-color-background--disbaled: $core-color--red-100;    
$semantic-color-background-danger--default: $core-color--red-200;    
$semantic-color-background-danger--hovered: $core-color--red-100;    
$semantic-color-background--default: $core-color--neutral-500a;    
$semantic-color-background--danger: $core-color--transparent-red-100;    
$semantic-color-background--selected: $core-color--transparent-blue-100;    
$semantic-color-background--success: $core-color--transparent-green-100;    
$semantic-color-text--default: $core-color--neutral-950;    
$semantic-color-text--disabled: $core-color--neutral-300a;    
$semantic-color-text--default: $core-color--neutral-0;    
$semantic-color-text--default: $core-color--blue-700;    
$semantic-color-text--default: $core-color--red-800;    
$semantic-color-text--default: $core-color--green-800;    
$semantic-color-text--default: $core-color--neutral-700;    
$semantic-color-border--default: $core-color--blue-700;    
$semantic-color-border--selected: $core-color--blue-500;    
$semantic-color-border--default: $core-color--red-600;    
$semantic-color-border--default: $core-color--neutral-100a;    
$semantic-color-border--pressed: $core-color--neutral-400;    
$semantic-color-border--hovered: $core-color--neutral-200a;    
$semantic-color-border--disabled: $core-color--neutral-400;    
$semantic-color-icon--default: $core-color--neutral-950;    
$semantic-color-icon--disabled: $core-color--neutral-300a;    
$semantic-color-icon--default: $core-color--neutral-0;    
$semantic-color-icon--default: $core-color--blue-700;    
$semantic-color-icon--default: $core-color--red-800;    
$semantic-color-icon--default: $core-color--green-800;    
