$coree100: #0b253b;    
$coree200: #09326c;    
$coree300: #0055cc;    
$coree400: #0c66e4;    
$coree500: #1d7afc;    
$coree600: #388bff;    
$coree700: #579dff;    
$coree800: #85b8ff;    
$coree900: #cce0ff;    
$coree1000: #e9f2ff;    
$coree100: #28311b;    
$coree200: #37471f;    
$coree300: #4c6b1f;    
$coree400: #5b7f24;    
$coree500: #6a9a23;    
$coree600: #82b536;    
$coree700: #94c748;    
$coree800: #b3df72;    
$coree900: #d3f1a7;    
$coree1000: #efffd6;    
$coren100: #1c3329;    
$coren200: #164b35;    
$coren300: #216e4e;    
$coren400: #1f845a;    
$coren500: #22a06b;    
$coren600: #2abb7f;    
$coren700: #4bce97;    
$coren800: #7ee2b8;    
$coren900: #baf3db;    
$coren1000: #dcfff1;    
$corea100: #3d2232;    
$corea200: #50253f;    
$corea300: #943d73;    
$corea400: #ae4787;    
$corea500: #cd519d;    
$corea600: #da62ac;    
$corea700: #e774bb;    
$corea800: #f797d2;    
$corea900: #fdd0ec;    
$corea1000: #ffecf8;    
$corel100a: #bcd6f00a;    
$corel200a: #a1bdd914;    
$corel250a: #c8e1f91a;    
$corel300a: #a6c5e229;    
$corel350a: #c3defe33;    
$corel400a: #bfdbf847;    
$corel500a: #9bb4ca80;    
$corel0: #101214;    
$corel100: #1d2125;    
$corel200: #22272b;    
$corel300: #2c333a;    
$corel400: #454f59;    
$corel500: #596773;    
$corel600: #738496;    
$corel700: #8c9bab;    
$corel800: #9fadbc;    
$corel900: #b6c2cf;    
$corel950: #c7d1db;    
$corel1000: #dee4ea;    
$coree100: #38291e;    
$coree200: #702e00;    
$coree300: #a54800;    
$coree400: #c25100;    
$coree500: #e56910;    
$coree600: #f38a3f;    
$coree700: #fea362;    
$coree800: #fec195;    
$coree900: #fedec8;    
$coree1000: #fff3eb;    
$corel100: #1e3137;    
$corel200: #164555;    
$corel300: #206a83;    
$corel400: #227d9b;    
$corel500: #2898bd;    
$corel600: #42b2d7;    
$corel700: #6cc3e0;    
$corel800: #9dd9ee;    
$corel900: #c6edfb;    
$corel1000: #e7f9ff;    
$coree100: #2b273f;    
$coree200: #352c63;    
$coree300: #5e4db2;    
$coree400: #6e5dc6;    
$coree500: #8270db;    
$coree600: #8f7ee7;    
$coree700: #9f8fef;    
$coree800: #b8acf6;    
$coree900: #dfd8fd;    
$coree1000: #f3f0ff;    
$cored100: #42221f;    
$cored200: #5d1f1a;    
$cored300: #ae2e24;    
$cored400: #c9372c;    
$cored500: #e2483d;    
$cored600: #f15b50;    
$cored700: #f87168;    
$cored800: #fd9891;    
$cored900: #ffd5d2;    
$cored1000: #ffeceb;    
$corew100: #332e1b;    
$corew200: #533f04;    
$corew300: #7f5f01;    
$corew400: #946f00;    
$corew500: #b38600;    
$corew600: #cf9f02;    
$corew700: #e2b203;    
$corew800: #f5cd47;    
$corew900: #f8e6a0;    
$corew1000: #fff7d6;    
$corew100: #00000000;    
$corew200: #0304045c;    
$corew300: #03040480;    
$corew400: #0304048f;    
$corew500: #39424a;    
$coree100: #1d7afc12;    
$cored100: #e3493512;    
$coren100: #1f845a12;    
/* Use for background that should use the primary brand color such as buttons. */
$semanticydefault: $coree700;    
/* Use for hovered background that should use the primary brand color such as buttons. */
$semanticyhovered: $coree800;    
/* Use for pressed background that should use the primary brand color such as buttons. */
$semanticypressed: $coree900;    
/* Use for selected background that should use the primary brand color such as buttons. */
$semanticyselected: $coree100;    
/* Use for üdisabled background that should use the primary brand color such as buttons. */
$semanticydisabled: $corel100a;    
/* Use for disabled background that is used as a surface */
$semanticedisabled: $corel100a;    
/* Use for background that is used as a surface */
$semanticedefault: $corel0;    
/* Use for hovered background that is used as a surface */
$semanticehovered: $corel200;    
/* Use for pressed background that is used as a surface */
$semanticepressed: $corel300;    
/* Use for hovered background that is used as a secondary surface */
$semanticyhovered: $corel100a;    
/* Use for pressed background that is used as a secondary surface */
$semanticypressed: $corel200a;    
/* Use for background that is used as a secondary surface */
$semanticydefault: $corel100;    
/* Use for disabled background that is used as a secondary surface */
$semanticydisabled: $corel100a;    
/* Use for background that is used as a very subtle surface */
$semanticedefault: $corel100a;    
/* Use for a background that is indicating a warning state, such as warning buttons */
$semanticgdefault: $corew300;    
/* Use for a hovered background that is indicating a warning state, such as warning buttons */
$semanticghovered: $corew400;    
/* Use for a pressed background that is indicating a warning state, such as warning buttons */
$semanticgpressed: $corew500;    
/* Use for a selected background that is indicating a warning state, such as warning buttons */
$semanticgselected: $corew200;    
/* Use for a disabled background that is indicating a warning state, such as warning buttons */
$semanticgdisabled: $corew100;    
$semanticrdefault: $cored700;    
$semanticrhovered: $cored800;    
$semanticrpressed: $cored900;    
$semanticrselected: $cored200;    
$semanticrdisbaled: $cored100;    
$semanticedefault: $cored200;    
$semanticehovered: $cored100;    
$semantictdefault: $corel500a;    
$semantictdanger: $cored100;    
$semantictselected: $coree100;    
$semantictsuccess: $coren100;    
$semanticedefault: $corel950;    
$semanticedisabled: $corel300a;    
$semanticddefault: $corel0;    
$semanticydefault: $coree700;    
$semanticrdefault: $cored800;    
$semanticsdefault: $coren800;    
$semanticydefault: $corel700;    
$semanticydefault: $coree700;    
$semanticyselected: $coree500;    
$semanticrdefault: $cored600;    
$semanticedefault: $corel100a;    
$semanticepressed: $corel400;    
$semanticehovered: $corel200a;    
$semanticedisabled: $corel400;    
$semanticedefault: $corel950;    
$semanticedisabled: $corel300a;    
$semanticddefault: $corel0;    
$semanticydefault: $coree700;    
$semanticrdefault: $cored800;    
$semanticsdefault: $coren800;    
