$dimensione100: 0.063em;    
$dimensione200: 0.125em;    
$dimensione300: 0.25em;    
$dimensione400: 0.375em;    
$dimensione500: 0.5em;    
$dimensione600: 0.625em;    
$dimensione700: 0.75em;    
$dimensionn100: 0em;    
$dimensionn200: 0.063em;    
$dimensionn300: 0.5em;    
$dimensionn400: 0.75em;    
$spacinge100: 0em;    
$spacinge200: 0.25em;    
$spacinge300: 0.5em;    
$spacinge400: 0.75em;    
$spacinge500: 1em;    
$spacinge600: 1.25em;    
$spacinge700: 1.5em;    
$spacinge800: 2em;    
$spacinge900: 2.5em;    
$spacinge1000: 3em;    
$spacinge1100: 3.5em;    
$spacinge1200: 4em;    
$spacinge1300: 5em;    
$spacinge1400: 6em;    
$spacinge1500: 7em;    
$spacinge1600: 8em;    
$linet100: 0.75em;    
$linet200: 0.875em;    
$linet300: 1em;    
$linet400: 1.25em;    
$linet500: 1.5em;    
$linet600: 1.75em;    
$linet700: 2em;    
$linet800: 2.25em;    
$linet900: 3em;    
$linet1000: 3.5em;    
$fonte100: 0.75em;    
$fonte200: 0.875em;    
$fonte300: 1em;    
$fonte400: 1.125em;    
$fonte500: 1.25em;    
$fonte600: 1.5em;    
$fonte700: 1.75em;    
$fonte800: 2em;    
$fonte900: 2.5em;    
$fonte1000: 3em;    
$fonte1100: 3.5em;    
$fonte1200: 4.25em;    
$fonte1300: 5.125em;    
$fonte1400: 6.25em;    
$fonte1500: 7.625em;    
$bordersxs: 0.063em;    
$borderssm: 0.125em;    
$bordersmd: 0.25em;    
$borderslg: 0.375em;    
$bordersxl: 0.5em;    
$borders2xl: 0.625em;    
$borders3xl: 0.75em;    
$borderhxs: 0.063px;    
$borderhsm: 0.125px;    
$borderhmd: 0.25px;    
$borderhlg: 0.375px;    
$borderhxl: 0.5px;    
$borderh2xl: 0.625px;    
$borderh3xl: 0.75px;    
$spacingixs: $spacinge800;    
$spacingism: $spacinge1000;    
$spacingimd: $spacinge1200;    
$spacingilg: $spacinge1300;    
$spacingixl: $spacinge1400;    
$spacingi2xl: $spacinge1500;    
$spacingi3xl: $spacinge1600;    
$spacingnxs: $spacinge300;    
$spacingnsm: $spacinge500;    
$spacingnmd: $spacinge700;    
$spacingnlg: $spacinge800;    
$spacingnxl: $spacinge900;    
$spacingn2xl: $spacinge1000;    
$spacingn3xl: $spacinge1100;    
$spacingtxs: $spacinge100;    
$spacingtsm: $spacinge200;    
$spacingtmd: $spacinge300;    
$spacingtlg: $spacinge400;    
$spacingtxl: $spacinge500;    
$spacingt2xl: $spacinge600;    
$spacingt3xl: $spacinge700;    
