
$radiiBorderRadiusBorderradiusCore0: 0px;
$radiiBorderRadiusBorderradiusCore1: 2px;
$radiiBorderRadiusBorderradiusCore2: 4px;
$radiiBorderRadiusBorderradiusCore3: 16px;
$radiiBorderRadiusBorderradiusCore4: 24px;
$radiiBorderRadiusBorderradiusCore5: 100px;
$radiiBorderRadiusBorderradiusSemanticInputs: $radiiBorderRadiusBorderradiusCore2;
$radiiBorderRadiusBorderradiusSemanticActions: $radiiBorderRadiusBorderradiusCore2;
$radiiBorderRadiusBorderradiusSemanticUiDefault: $radiiBorderRadiusBorderradiusCore2;
$radiiBorderRadiusBorderradiusSemanticUiNone: $radiiBorderRadiusBorderradiusCore0;
$radiiBorderRadiusBorderradiusCompAccordion: $radiiBorderRadiusBorderradiusSemanticUiNone;
