$light-shadow-100: 0 0.063px 0.063px 0 rgba(3,4,4,0.56);  
$light-shadow-1002: 0 0 0.063px 0 rgba(57,66,74,1);  
$light-shadow-200: 0 0.5px 0.75px 0 rgba(3,4,4,0.36);  
$light-shadow-2002: 0 0 0.063px 0 rgba(57,66,74,1);  
$light-shadow-300: 0 0 0.5px 0 rgba(3,4,4,0.5);  
$light-shadow-3002: 0 0 0.063px 0 rgb(0,0,0);  
$dark-shadow-100: inset 0 0 0 0 rgb(0,0,0);  
$dark-shadow-1002: 0 0.063px 0.063px 0 rgba(3,4,4,0.5);  
$dark-shadow-1003: 0 0 0.063px 0 rgba(3,4,4,0.5);  
$dark-shadow-200: 0 0 0 0 rgba(57,66,74,1);  
$dark-shadow-2002: 0 0.5px 0.75px 0 rgba(3,4,4,0.36);  
$dark-shadow-2003: 0 0 0.063px 0 rgba(3,4,4,0.5);  
$dark-shadow-300: 0 0 0.75px 0 rgba(3,4,4,0.56);  
$dark-shadow-3002: 0 0 0.063px 0 rgba(3,4,4,0.5);  
$shadow-raised: $dark-shadow-100;  
$shadow-overlay: $dark-shadow-200;  
$shadow-overflow: $dark-shadow-300;  
$shadow-raised: $light-shadow-100;  
$shadow-overlay: $light-shadow-100;  
$shadow-overflow: $light-shadow-100;  
