$coreelevationlightshadow100: 0 0.063px 0.063px 0 rgba(3,4,4,0.56);  
$coreelevationlightshadow1002: 0 0 0.063px 0 rgba(57,66,74,1);  
$coreelevationlightshadow200: 0 0.5px 0.75px 0 rgba(3,4,4,0.36);  
$coreelevationlightshadow2002: 0 0 0.063px 0 rgba(57,66,74,1);  
$coreelevationlightshadow300: 0 0 0.5px 0 rgba(3,4,4,0.5);  
$coreelevationlightshadow3002: 0 0 0.063px 0 rgb(0,0,0);  
$coreelevationdarkshadow100: inset 0 0 0 0 rgb(0,0,0);  
$coreelevationdarkshadow1002: 0 0.063px 0.063px 0 rgba(3,4,4,0.5);  
$coreelevationdarkshadow1003: 0 0 0.063px 0 rgba(3,4,4,0.5);  
$coreelevationdarkshadow200: 0 0 0 0 rgba(57,66,74,1);  
$coreelevationdarkshadow2002: 0 0.5px 0.75px 0 rgba(3,4,4,0.36);  
$coreelevationdarkshadow2003: 0 0 0.063px 0 rgba(3,4,4,0.5);  
$coreelevationdarkshadow300: 0 0 0.75px 0 rgba(3,4,4,0.56);  
$coreelevationdarkshadow3002: 0 0 0.063px 0 rgba(3,4,4,0.5);  
$semanticelevationdarkshadowraised: $coreelevationdarkshadow100;  
$semanticelevationdarkshadowoverlay: $coreelevationdarkshadow200;  
$semanticelevationdarkshadowoverflow: $coreelevationdarkshadow300;  
$semanticelevationlightshadowraised: $coreelevationlightshadow100;  
$semanticelevationlightshadowoverlay: $coreelevationlightshadow100;  
$semanticelevationlightshadowoverflow: $coreelevationlightshadow100;  
