$shadowCoreElevationLightShadow100: 0 0.063px 0.063px 0 rgba(3,4,4,0.56);  
$shadowCoreElevationLightShadow1002: 0 0 0.063px 0 rgba(57,66,74,1);  
$shadowCoreElevationLightShadow200: 0 0.5px 0.75px 0 rgba(3,4,4,0.36);  
$shadowCoreElevationLightShadow2002: 0 0 0.063px 0 rgba(57,66,74,1);  
$shadowCoreElevationLightShadow300: 0 0 0.5px 0 rgba(3,4,4,0.5);  
$shadowCoreElevationLightShadow3002: 0 0 0.063px 0 rgb(0,0,0);  
$shadowCoreElevationDarkShadow100: inset 0 0 0 0 rgb(0,0,0);  
$shadowCoreElevationDarkShadow1002: 0 0.063px 0.063px 0 rgba(3,4,4,0.5);  
$shadowCoreElevationDarkShadow1003: 0 0 0.063px 0 rgba(3,4,4,0.5);  
$shadowCoreElevationDarkShadow200: 0 0 0 0 rgba(57,66,74,1);  
$shadowCoreElevationDarkShadow2002: 0 0.5px 0.75px 0 rgba(3,4,4,0.36);  
$shadowCoreElevationDarkShadow2003: 0 0 0.063px 0 rgba(3,4,4,0.5);  
$shadowCoreElevationDarkShadow300: 0 0 0.75px 0 rgba(3,4,4,0.56);  
$shadowCoreElevationDarkShadow3002: 0 0 0.063px 0 rgba(3,4,4,0.5);  
$shadowSemanticElevationDarkShadowRaised: $shadowCoreElevationDarkShadow100;  
$shadowSemanticElevationDarkShadowOverlay: $shadowCoreElevationDarkShadow200;  
$shadowSemanticElevationDarkShadowOverflow: $shadowCoreElevationDarkShadow300;  
$shadowSemanticElevationLightShadowRaised: $shadowCoreElevationLightShadow100;  
$shadowSemanticElevationLightShadowOverlay: $shadowCoreElevationLightShadow100;  
$shadowSemanticElevationLightShadowOverflow: $shadowCoreElevationLightShadow100;  
