
.semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_000;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_000;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_ody_object_Object_ody_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_ody_object_Object_ody_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_ody_object_Object_ody_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_i_object_Object_i_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_i_object_Object_i_object_Object_00b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_i_object_Object_i_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantic_object_Object_ypography_object_Object_i_object_Object_i_object_Object_00b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_eadline_object_Object_eadline_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_000;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_000;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_ody_object_Object_ody_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_ody_object_Object_ody_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_ody_object_Object_ody_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_i_object_Object_i_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_i_object_Object_i_object_Object_00b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_i_object_Object_i_object_Object_00 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantic_object_Object_ypography_object_Object_i_object_Object_i_object_Object_00b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font_object_Object_izing_object_Object_ont_object_Object_ize_object_Object_ore_object_Object_ont_object_Object_ontsize_object_Object_00;
  line-height: $line_object_Object_eight_object_Object_ine_object_Object_eight_object_Object_ore_object_Object_ont_object_Object_ineheight_object_Object_00;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

