
.headline-headline-100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-100;
  line-height: $font-lineheight-300;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.headline-headline-200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-200;
  line-height: $font-lineheight-300;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.headline-headline-300 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-300;
  line-height: $font-lineheight-400;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.headline-headline-400 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-500;
  line-height: $font-lineheight-500;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.headline-headline-500 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-600;
  line-height: $font-lineheight-600;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.headline-headline-600 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-700;
  line-height: $font-lineheight-700;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.headline-headline-700 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-800;
  line-height: $font-lineheight-800;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.headline-headline-800 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-900;
  line-height: $font-lineheight-900;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.headline-headline-900 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-1000;
  line-height: $font-lineheight-1000;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.body-body-100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $font-fontsize-100;
  line-height: $font-lineheight-300;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.body-body-200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $font-fontsize-200;
  line-height: $font-lineheight-400;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.body-body-300 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $font-fontsize-300;
  line-height: $font-lineheight-500;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.ui-ui-100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $font-fontsize-100;
  line-height: $font-lineheight-100;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.ui-ui-100b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-100;
  line-height: $font-lineheight-100;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.ui-ui-200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $font-fontsize-200;
  line-height: $font-lineheight-200;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.ui-ui-200b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-200;
  line-height: $font-lineheight-200;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin headline-headline-100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-100;
  line-height: $font-lineheight-300;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin headline-headline-200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-200;
  line-height: $font-lineheight-300;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin headline-headline-300 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-300;
  line-height: $font-lineheight-400;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin headline-headline-400 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-500;
  line-height: $font-lineheight-500;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin headline-headline-500 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-600;
  line-height: $font-lineheight-600;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin headline-headline-600 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-700;
  line-height: $font-lineheight-700;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin headline-headline-700 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-800;
  line-height: $font-lineheight-800;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin headline-headline-800 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-900;
  line-height: $font-lineheight-900;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin headline-headline-900 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-1000;
  line-height: $font-lineheight-1000;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin body-body-100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $font-fontsize-100;
  line-height: $font-lineheight-300;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin body-body-200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $font-fontsize-200;
  line-height: $font-lineheight-400;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin body-body-300 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $font-fontsize-300;
  line-height: $font-lineheight-500;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin ui-ui-100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $font-fontsize-100;
  line-height: $font-lineheight-100;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin ui-ui-100b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-100;
  line-height: $font-lineheight-100;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin ui-ui-200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $font-fontsize-200;
  line-height: $font-lineheight-200;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin ui-ui-200b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $font-fontsize-200;
  line-height: $font-lineheight-200;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

