
.semantictypographyheadlineheadline100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize100;
  line-height: $lineheightlineheightcorefontlineheight300;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographyheadlineheadline200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize200;
  line-height: $lineheightlineheightcorefontlineheight300;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographyheadlineheadline300 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize300;
  line-height: $lineheightlineheightcorefontlineheight400;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographyheadlineheadline400 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize500;
  line-height: $lineheightlineheightcorefontlineheight500;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographyheadlineheadline500 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize600;
  line-height: $lineheightlineheightcorefontlineheight600;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographyheadlineheadline600 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize700;
  line-height: $lineheightlineheightcorefontlineheight700;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographyheadlineheadline700 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize800;
  line-height: $lineheightlineheightcorefontlineheight800;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographyheadlineheadline800 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize900;
  line-height: $lineheightlineheightcorefontlineheight900;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographyheadlineheadline900 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize1000;
  line-height: $lineheightlineheightcorefontlineheight1000;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographybodybody100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $fontsizingfontsizecorefontfontsize100;
  line-height: $lineheightlineheightcorefontlineheight300;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographybodybody200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $fontsizingfontsizecorefontfontsize200;
  line-height: $lineheightlineheightcorefontlineheight400;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographybodybody300 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $fontsizingfontsizecorefontfontsize300;
  line-height: $lineheightlineheightcorefontlineheight500;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographyuiui100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $fontsizingfontsizecorefontfontsize100;
  line-height: $lineheightlineheightcorefontlineheight100;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographyuiui100b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize100;
  line-height: $lineheightlineheightcorefontlineheight100;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographyuiui200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $fontsizingfontsizecorefontfontsize200;
  line-height: $lineheightlineheightcorefontlineheight200;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

.semantictypographyuiui200b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize200;
  line-height: $lineheightlineheightcorefontlineheight200;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographyheadlineheadline100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize100;
  line-height: $lineheightlineheightcorefontlineheight300;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographyheadlineheadline200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize200;
  line-height: $lineheightlineheightcorefontlineheight300;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographyheadlineheadline300 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize300;
  line-height: $lineheightlineheightcorefontlineheight400;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographyheadlineheadline400 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize500;
  line-height: $lineheightlineheightcorefontlineheight500;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographyheadlineheadline500 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize600;
  line-height: $lineheightlineheightcorefontlineheight600;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographyheadlineheadline600 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize700;
  line-height: $lineheightlineheightcorefontlineheight700;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographyheadlineheadline700 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize800;
  line-height: $lineheightlineheightcorefontlineheight800;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographyheadlineheadline800 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize900;
  line-height: $lineheightlineheightcorefontlineheight900;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographyheadlineheadline900 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize1000;
  line-height: $lineheightlineheightcorefontlineheight1000;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographybodybody100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $fontsizingfontsizecorefontfontsize100;
  line-height: $lineheightlineheightcorefontlineheight300;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographybodybody200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $fontsizingfontsizecorefontfontsize200;
  line-height: $lineheightlineheightcorefontlineheight400;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographybodybody300 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 400;
  font-size: $fontsizingfontsizecorefontfontsize300;
  line-height: $lineheightlineheightcorefontlineheight500;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographyuiui100 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $fontsizingfontsizecorefontfontsize100;
  line-height: $lineheightlineheightcorefontlineheight100;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographyuiui100b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize100;
  line-height: $lineheightlineheightcorefontlineheight100;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographyuiui200 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 500;
  font-size: $fontsizingfontsizecorefontfontsize200;
  line-height: $lineheightlineheightcorefontlineheight200;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

@mixin semantictypographyuiui200b 
{ 
  
  font-family: "TUV SUD Pro";
  font-style: normal;
  font-weight: 700;
  font-size: $fontsizingfontsizecorefontfontsize200;
  line-height: $lineheightlineheightcorefontlineheight200;
  letter-spacing: 0px;
  
  text-indent: 0px; 
}    

