body {
  margin: 0;
  font-family: "TUV SUD Pro", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "TUV SUD Pro";
  src: url("fonts/TUV SUD Pro-Regular.ttf");
}