$measureSpacingSpacingSpacingsCore10: 64px;    
$measureSpacingSpacingSpacingsCore11: 80px;    
$measureSpacingSpacingSpacingsCore12: 96px;    
$measureSpacingSpacingSpacingsCore13: 160px;    
$measureSpacingSpacingSpacingsCore01: 2px;    
$measureSpacingSpacingSpacingsCore02: 4px;    
$measureSpacingSpacingSpacingsCore03: 8px;    
$measureSpacingSpacingSpacingsCore04: 12px;    
$measureSpacingSpacingSpacingsCore05: 16px;    
$measureSpacingSpacingSpacingsCore06: 24px;    
$measureSpacingSpacingSpacingsCore07: 32px;    
$measureSpacingSpacingSpacingsCore08: 40px;    
$measureSpacingSpacingSpacingsCore09: 48px;    
$measureBorderRadius0: 0px;    
$measureSizingSizingSizesCore12: 1px;    
$measureSizingSizingSizesCore25: 2px;    
$measureSizingSizingSizesCore50: 4px;    
$measureSizingSizingSizesCore75: 6px;    
$measureSizingSizingSizesCore100: 8px;    
$measureBorderRadius125: 10px;    
$measureSizingSizingSizesCore150: 12px;    
$measureSizingSizingSizesCore175: 14px;    
$measureSizingSizingSizesCore200: 16px;    
$measureSizingSizingSizesCore225: 18px;    
$measureSizingSizingSizesCore250: 20px;    
$measureSizingSizingSizesCore275: 22px;    
$measureSizingSizingSizesCore300: 24px;    
$measureSizingSizingSizesCore400: 32px;    
$measureSizingSizingSizesCore450: 36px;    
$measureSizingSizingSizesCore500: 40px;    
$measureSizingSizingSizesCore600: 48px;    
$measureSizingSizingSizesCore700: 56px;    
$measureSizingSizingSizesCore800: 64px;    
$measureSizingSizingSizesCore900: 72px;    
$measureSizingSizingSizesCore1000: 80px;    
$measureSizingSizingSizesCore1200: 96px;    
$measureSizingSizingSizesCore1400: 112px;    
$measureSizingSizingSizesCore1600: 128px;    
$measureSizingSizingSizesCore1800: 144px;    
$measureSizingSizingSizesCore2000: 160px;    
$measureSizingSizingSizesCore2200: 176px;    
$measureSizingSizingSizesCore2400: 192px;    
$measureSizingSizingSizesCore2600: 208px;    
$measureSizingSizingSizesCore2800: 224px;    
$measureSizingSizingSizesCore3000: 240px;    
$measureSizingSizingSizesCore3200: 256px;    
$measureSizingSizingSizesCore3400: 288px;    
$measureSizingSizingSizesCore3600: 320px;    
$measureSizingSizingSizesCore3800: 384px;    
$measureLineHeightLineHeightLineheightsCoreDefault: 150%;    
$measureLineHeightLineHeightLineheightsCoreTight: 125%;    
$measureFontSizingFontSizeFontsizesCore0: 8px;    
$measureFontSizingFontSizeFontsizesCore1: 10px;    
$measureFontSizingFontSizeFontsizesCore2: 12px;    
$measureFontSizingFontSizeFontsizesCore3: 14px;    
$measureFontSizingFontSizeFontsizesCore4: 16px;    
$measureFontSizingFontSizeFontsizesCore5: 18px;    
$measureFontSizingFontSizeFontsizesCore6: 20px;    
$measureFontSizingFontSizeFontsizesCore7: 22px;    
$measureFontSizingFontSizeFontsizesCore8: 24px;    
$measureFontSizing9: 26px;    
$measureFontSizingFontSizeFontsizesCore10: 28px;    
$measureFontSizing11: 30px;    
$measureFontSizingFontSizeFontsizesCore12: 32px;    
$measureFontSizingFontSizeFontsizesCore13: 34px;    
$measureFontSizingFontSizeFontsizesCore14: 36px;    
$measureFontSizingFontSizeFontsizesCore15: 38px;    
$measureFontSizingFontSizeFontsizesCore16: 40px;    
$measureFontSizingFontSizeFontsizesCore17: 42px;    
$measureFontSizingFontSizeFontsizesCore18: 44px;    
$measureFontSizingFontSizeFontsizesCore19: 46px;    
$measureFontSizingFontSizeFontsizesCore20: 48px;    
$measureFontSizingFontSizeFontsizesCore21: 50px;    
$measureFontSizingFontSizeFontsizesCore22: 52px;    
$measureFontSizingFontSizeFontsizesCore23: 54px;    
$measureFontSizingFontSizeFontsizesCore24: 64px;    
$measureFontSizingFontSizeFontsizesCore25: 80px;    
$measureFontSizingFontSizeFontsizesCore26: 112px;    
$measureFontSizingFontSizeFontsizesCore27: 140px;    
$measureFontSizingFontSizeFontsizesCore28: 160px;    
$measureBorderWidthBorderWidthBorderwidthsCore0: 0px;    
$measureBorderWidthBorderWidthBorderwidthsCore1: 1px;    
$measureBorderWidthBorderWidthBorderwidthsCore2: 2px;    
$measureBorderWidthBorderWidthBorderwidthsCore4: 4px;    
$measureBorderRadiusBorderRadiusBorderradiusCore0: 0px;    
$measureBorderRadiusBorderRadiusBorderradiusCore1: 2px;    
$measureBorderRadiusBorderRadiusBorderradiusCore2: 4px;    
$measureBorderRadiusBorderRadiusBorderradiusCore3: 16px;    
$measureBorderRadiusBorderRadiusBorderradiusCore4: 24px;    
$measureBorderRadiusBorderRadiusBorderradiusCore5: 100px;    
$measureOpacityOpacityOpacitiesCore0: 0%;    
$measureOpacityOpacityOpacitiesCore5: 5%;    
$measureOpacityOpacityOpacitiesCore10: 10%;    
$measureOpacityOpacityOpacitiesCore20: 20%;    
$measureOpacityOpacityOpacitiesCore25: 25%;    
$measureOpacityOpacityOpacitiesCore30: 30%;    
$measureOpacityOpacityOpacitiesCore40: 40%;    
$measureOpacityOpacityOpacitiesCore50: 50%;    
$measureOpacityOpacityOpacitiesCore60: 60%;    
$measureOpacityOpacityOpacitiesCore70: 70%;    
$measureOpacityOpacityOpacitiesCore80: 80%;    
$measureOpacityOpacityOpacitiesCore90: 90%;    
$measureOpacityOpacityOpacitiesCore100: 100%;    
$measureSpacingSpacingSpacingsCompAccordionMediumSpacingBetween: 4px;    
$measureBorderRadius50: 4px;    
$measureFontSizing10: 28px;    
$measureFontSizing8: 24px;    
$measureFontSizing7: 22px;    
$measureFontSizing6: 20px;    
$measureFontSizing2: 12px;    
$measureFontSizing5: 18px;    
$measureFontSizing4: 16px;    
$measureFontSizing3: 14px;    
$measureLineHeightDefault: 150%;    
$measureSpacingSpacingSpacingsSemanticActionsSmallPaddingLeft: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticActionsSmallPaddingRight: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticActionsSmallPaddingTop: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticActionsSmallPaddingBottom: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticActionsMediumPaddingLeft: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticActionsMediumPaddingRight: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticActionsMediumPaddingTop: $measureSpacingSpacingSpacingsCore04;    
$measureSpacingSpacingSpacingsSemanticActionsMediumPaddingBottom: $measureSpacingSpacingSpacingsCore04;    
$measureSpacingSpacingSpacingsSemanticActionsLargePaddingLeft: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticActionsLargePaddingRight: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticActionsLargePaddingTop: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticActionsLargePaddingBottom: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticActionsExtraLargePaddingLeft: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticActionsExtraLargePaddingRight: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticActionsExtraLargePaddingTop: $measureSpacingSpacingSpacingsCore06;    
$measureSpacingSpacingSpacingsSemanticActionsExtraLargePaddingBottom: $measureSpacingSpacingSpacingsCore06;    
$measureSpacingSpacingSpacingsSemanticInputsSpaceBetween: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticInputsSmallPaddingLeft: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticInputsSmallPaddingRight: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticInputsSmallPaddingTop: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticInputsSmallPaddingBottom: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticInputsMediumPaddingLeft: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticInputsMediumPaddingRight: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticInputsMediumPaddingTop: $measureSpacingSpacingSpacingsCore04;    
$measureSpacingSpacingSpacingsSemanticInputsMediumPaddingBottom: $measureSpacingSpacingSpacingsCore04;    
$measureSpacingSpacingSpacingsSemanticInputsLargePaddingLeft: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticInputsLargePaddingRight: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticInputsLargePaddingTop: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticInputsLargePaddingBottom: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticInputsExtraLargePaddingLeft: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticInputsExtraLargePaddingRight: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticInputsExtraLargePaddingTop: $measureSpacingSpacingSpacingsCore06;    
$measureSpacingSpacingSpacingsSemanticInputsExtraLargePaddingBottom: $measureSpacingSpacingSpacingsCore06;    
$measureSpacingSpacingSpacingsSemanticInputsExtraSmallPaddingLeft: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticInputsExtraSmallPaddingRight: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticInputsExtraSmallPaddingTop: $measureSpacingSpacingSpacingsCore02;    
$measureSpacingSpacingSpacingsSemanticInputsExtraSmallPaddingBottom: $measureSpacingSpacingSpacingsCore02;    
$measureSpacingSpacingSpacingsSemanticFeedbackPaddingLeft: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticFeedbackPaddingRight: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticFeedbackPaddingTop: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticFeedbackPaddingBottom: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticStatusSpaceBetween: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticStatusSmallPaddingTop: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticStatusSmallPaddingRight: $measureSpacingSpacingSpacingsCore04;    
$measureSpacingSpacingSpacingsSemanticStatusSmallPaddingBottom: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticStatusSmallPaddingLeft: $measureSpacingSpacingSpacingsCore04;    
$measureSpacingSpacingSpacingsSemanticStatusMediumPaddingTop: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticStatusMediumPaddingRight: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticStatusMediumPaddingBottom: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticStatusMediumPaddingLeft: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticStatusLargePaddingTop: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticStatusLargePaddingRight: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticStatusLargePaddingBottom: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticStatusLargePaddingLeft: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticStatusExtraLargePaddingTop: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticStatusExtraLargePaddingRight: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticStatusExtraLargePaddingBottom: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticStatusExtraLargePaddingLeft: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticUiXxsSpaceBetween: $measureSpacingSpacingSpacingsCore02;    
$measureSpacingSpacingSpacingsSemanticUiXxsSpaceAround: $measureSpacingSpacingSpacingsCore02;    
$measureSpacingSpacingSpacingsSemanticUiXsSpaceBetween: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticUiXsSpaceAround: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticUiSSpaceBetween: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticUiSSpaceAround: $measureSpacingSpacingSpacingsCore03;    
$measureSpacingSpacingSpacingsSemanticUiMSpaceBetween: $measureSpacingSpacingSpacingsCore06;    
$measureSpacingSpacingSpacingsSemanticUiMSpaceAround: $measureSpacingSpacingSpacingsCore04;    
$measureSpacingSpacingSpacingsSemanticUiLSpaceBetween: $measureSpacingSpacingSpacingsCore07;    
$measureSpacingSpacingSpacingsSemanticUiLSpaceAround: $measureSpacingSpacingSpacingsCore05;    
$measureSpacingSpacingSpacingsSemanticUiXlSpaceBetween: $measureSpacingSpacingSpacingsCore10;    
$measureSpacingSpacingSpacingsSemanticUiXlSpaceAround: $measureSpacingSpacingSpacingsCore06;    
$measureSpacingSpacingSpacingsSemanticUiXxlSpaceBetween: $measureSpacingSpacingSpacingsCore12;    
$measureSpacingSpacingSpacingsSemanticUiXxlSpaceAround: $measureSpacingSpacingSpacingsCore07;    
$measureSpacingSpacingSpacingsSemanticUiXxxlSpaceBetween: $measureSpacingSpacingSpacingsCore13;    
$measureSpacingSpacingSpacingsSemanticUiXxxlSpaceAround: $measureSpacingSpacingSpacingsCore10;    
$measureSpacingSpacingSpacingsSemanticUiXxxxlSpaceAround: $measureSpacingSpacingSpacingsCore12;    
$measureSizingSizingSizesSemanticComponentExtraSmall: $measureSizingSizingSizesCore300;    
$measureSizingSizingSizesSemanticComponentSmall: $measureSizingSizingSizesCore400;    
$measureSizingSizingSizesSemanticComponentMedium: $measureSizingSizingSizesCore500;    
$measureSizingSizingSizesSemanticComponentLarge: $measureSizingSizingSizesCore600;    
$measureSizingSizingSizesSemanticComponentExtraLarge: $measureSizingSizingSizesCore700;    
$measureSizingSizingSizesSemanticActionsSmall: $measureSizingSizingSizesSemanticComponentSmall;    
$measureSizingSizingSizesSemanticActionsMedium: $measureSizingSizingSizesSemanticComponentMedium;    
$measureSizingSizingSizesSemanticActionsLarge: $measureSizingSizingSizesSemanticComponentLarge;    
$measureSizingSizingSizesSemanticActionsExtraLarge: $measureSizingSizingSizesSemanticComponentExtraLarge;    
$measureSizingSizingSizesSemanticActionsIconSizeSmall: $measureSizingSizingSizesCore200;    
$measureSizingSizingSizesSemanticActionsIconSizeExtraSmall: $measureSizingSizingSizesCore150;    
$measureSizingSizingSizesSemanticActionsIconSizeMedium: $measureSizingSizingSizesCore300;    
$measureSizingSizingSizesSemanticActionsIconSizeLarge: $measureSizingSizingSizesCore400;    
$measureSizingSizingSizesSemanticActionsIconSizeExtraLarge: $measureSizingSizingSizesCore500;    
$measureSizingSizingSizesSemanticInputsSmall: $measureSizingSizingSizesSemanticComponentSmall;    
$measureSizingSizingSizesSemanticInputsExtraSmall: $measureSizingSizingSizesSemanticComponentExtraSmall;    
$measureSizingSizingSizesSemanticInputsMedium: $measureSizingSizingSizesSemanticComponentMedium;    
$measureSizingSizingSizesSemanticInputsLarge: $measureSizingSizingSizesSemanticComponentLarge;    
$measureSizingSizingSizesSemanticInputsExtraLarge: $measureSizingSizingSizesSemanticComponentExtraLarge;    
$measureSizingSizingSizesSemanticInputsIconSizeSmall: $measureSizingSizingSizesCore200;    
$measureSizingSizingSizesSemanticInputsIconSizeExtraSmall: $measureSizingSizingSizesCore175;    
$measureSizingSizingSizesSemanticInputsIconSizeMedium: $measureSizingSizingSizesCore300;    
$measureSizingSizingSizesSemanticInputsIconSizeLarge: $measureSizingSizingSizesCore400;    
$measureSizingSizingSizesSemanticInputsIconSizeExtraLarge: $measureSizingSizingSizesCore400;    
$measureSizingSizingSizesSemanticInputsWidth: $measureSizingSizingSizesCore250;    
$measureSizingSizingSizesSemanticFeedbackIconSize: $measureSizingSizingSizesCore200;    
$measureSizingSizingSizesSemanticFeedbackWidth: $measureSizingSizingSizesCore900;    
$measureSizingSizingSizesSemanticContainerSmall: $measureSizingSizingSizesCore12;    
$measureSizingSizingSizesSemanticContainerMedium: $measureSizingSizingSizesCore25;    
$measureSizingSizingSizesSemanticContainerLarge: $measureSizingSizingSizesCore50;    
$measureSizingSizingSizesSemanticNavigationIconSizeXxs: $measureSizingSizingSizesCore200;    
$measureSizingSizingSizesSemanticNavigationIconSizeXs: $measureSizingSizingSizesCore250;    
$measureSizingSizingSizesSemanticNavigationIconSizeS: $measureSizingSizingSizesCore300;    
$measureSizingSizingSizesSemanticNavigationIconSizeM: $measureSizingSizingSizesCore400;    
$measureSizingSizingSizesSemanticNavigationIconSizeL: $measureSizingSizingSizesCore400;    
$measureSizingSizingSizesSemanticNavigationIconSizeXl: $measureSizingSizingSizesCore500;    
$measureSizingSizingSizesSemanticNavigationIconSizeXxl: $measureSizingSizingSizesCore700;    
$measureSizingSizingSizesSemanticNavigationIconSizeXxxl: $measureSizingSizingSizesCore900;    
$measureSizingSizingSizesSemanticNavigationXxs: $measureSizingSizingSizesCore250;    
$measureSizingSizingSizesSemanticNavigationXs: $measureSizingSizingSizesCore300;    
$measureSizingSizingSizesSemanticNavigationS: $measureSizingSizingSizesCore400;    
$measureSizingSizingSizesSemanticNavigationM: $measureSizingSizingSizesCore450;    
$measureSizingSizingSizesSemanticNavigationL: $measureSizingSizingSizesCore500;    
$measureSizingSizingSizesSemanticNavigationXl: $measureSizingSizingSizesCore600;    
$measureSizingSizingSizesSemanticNavigationXxl: $measureSizingSizingSizesCore800;    
$measureSizingSizingSizesSemanticNavigationXxxl: $measureSizingSizingSizesCore1000;    
$measureSizingSizingSizesSemanticStatusSHeight: $measureSizingSizingSizesSemanticComponentExtraSmall;    
$measureSizingSizingSizesSemanticStatusSIconSize: $measureSizingSizingSizesCore100;    
$measureSizingSizingSizesSemanticStatusMHeight: $measureSizingSizingSizesSemanticComponentSmall;    
$measureSizingSizingSizesSemanticStatusMIconSize: $measureSizingSizingSizesCore200;    
$measureSizingSizingSizesSemanticStatusLHeight: $measureSizingSizingSizesSemanticComponentMedium;    
$measureSizingSizingSizesSemanticStatusLIconSize: $measureSizingSizingSizesCore300;    
$measureSizingSizingSizesSemanticStatusXlHeight: $measureSizingSizingSizesSemanticComponentLarge;    
$measureSizingSizingSizesSemanticStatusXlIconSize: $measureSizingSizingSizesCore400;    
$measureLineHeightHeading: $measureLineHeightLineHeightLineheightsCoreTight;    
$measureLineHeightLineHeightLineheightsSemanticTypographyDisplay: $measureLineHeightLineHeightLineheightsCoreTight;    
$measureLineHeightBody: $measureLineHeightLineHeightLineheightsCoreDefault;    
$measureLineHeightLineHeightLineheightsSemanticTypographyCode: $measureLineHeightLineHeightLineheightsCoreTight;    
$measureLineHeightLineHeightLineheightsSemanticTypographyDetail: $measureLineHeightLineHeightLineheightsCoreTight;    
$measureFontSizingFontSizeFontsizesSemanticActionsS: $measureFontSizingFontSizeFontsizesCore3;    
$measureFontSizingFontSizeFontsizesSemanticActionsM: $measureFontSizingFontSizeFontsizesCore4;    
$measureFontSizingFontSizeFontsizesSemanticActionsL: $measureFontSizingFontSizeFontsizesCore5;    
$measureFontSizingFontSizeFontsizesSemanticActionsXl: $measureFontSizingFontSizeFontsizesCore6;    
$measureFontSizingXs: $measureFontSizingFontSizeFontsizesCore4;    
$measureFontSizingS: $measureFontSizingFontSizeFontsizesCore5;    
$measureFontSizingFontSizeFontsizesSemanticTypographyHeadingM: $measureFontSizingFontSizeFontsizesCore7;    
$measureFontSizingFontSizeFontsizesSemanticTypographyHeadingL: $measureFontSizingFontSizeFontsizesCore10;    
$measureFontSizingFontSizeFontsizesSemanticTypographyHeadingXl: $measureFontSizingFontSizeFontsizesCore14;    
$measureFontSizingFontSizeFontsizesSemanticTypographyHeadingXxl: $measureFontSizingFontSizeFontsizesCore18;    
$measureFontSizingFontSizeFontsizesSemanticTypographyHeadingD1: $measureFontSizingFontSizeFontsizesCore27;    
$measureFontSizingFontSizeFontsizesSemanticTypographyHeadingD2: $measureFontSizingFontSizeFontsizesCore26;    
$measureFontSizingFontSizeFontsizesSemanticTypographyHeadingD3: $measureFontSizingFontSizeFontsizesCore25;    
$measureFontSizingFontSizeFontsizesSemanticTypographyHeadingD4: $measureFontSizingFontSizeFontsizesCore24;    
$measureFontSizingFontSizeFontsizesSemanticTypographyBodyXs: $measureFontSizingFontSizeFontsizesCore2;    
$measureFontSizingS: $measureFontSizingFontSizeFontsizesCore3;    
$measureFontSizingM: $measureFontSizingFontSizeFontsizesCore4;    
$measureFontSizingL: $measureFontSizingFontSizeFontsizesCore5;    
$measureFontSizingFontSizeFontsizesSemanticTypographyBodyXl: $measureFontSizingFontSizeFontsizesCore6;    
$measureFontSizingFontSizeFontsizesSemanticTypographyBodyXxl: $measureFontSizingFontSizeFontsizesCore7;    
$measureFontSizingFontSizeFontsizesSemanticTypographyBodyXxxl: $measureFontSizingFontSizeFontsizesCore8;    
$measureFontSizingFontSizeFontsizesSemanticTypographyCodeXs: $measureFontSizingFontSizeFontsizesCore2;    
$measureFontSizingFontSizeFontsizesSemanticTypographyCodeS: $measureFontSizingFontSizeFontsizesCore3;    
$measureFontSizingFontSizeFontsizesSemanticTypographyCodeM: $measureFontSizingFontSizeFontsizesCore4;    
$measureFontSizingFontSizeFontsizesSemanticTypographyCodeL: $measureFontSizingFontSizeFontsizesCore5;    
$measureFontSizingFontSizeFontsizesSemanticTypographyCodeXl: $measureFontSizingFontSizeFontsizesCore6;    
$measureFontSizingFontSizeFontsizesSemanticTypographyDetailS: $measureFontSizingFontSizeFontsizesCore1;    
$measureFontSizingFontSizeFontsizesSemanticTypographyDetailM: $measureFontSizingFontSizeFontsizesCore2;    
$measureFontSizingFontSizeFontsizesSemanticTypographyDetailL: $measureFontSizingFontSizeFontsizesCore3;    
$measureFontSizingFontSizeFontsizesSemanticTypographyDetailXl: $measureFontSizingFontSizeFontsizesCore4;    
$measureFontSizingFontSizeFontsizesSemanticInputsS: $measureFontSizingFontSizeFontsizesCore3;    
$measureFontSizingFontSizeFontsizesSemanticInputsXs: $measureFontSizingFontSizeFontsizesCore3;    
$measureFontSizingFontSizeFontsizesSemanticInputsXxs: $measureFontSizingFontSizeFontsizesCore2;    
$measureFontSizingFontSizeFontsizesSemanticInputsM: $measureFontSizingFontSizeFontsizesCore4;    
$measureFontSizingFontSizeFontsizesSemanticInputsL: $measureFontSizingFontSizeFontsizesCore5;    
$measureFontSizingFontSizeFontsizesSemanticInputsXl: $measureFontSizingFontSizeFontsizesCore5;    
$measureFontSizingFontSizeFontsizesSemanticFeedbackS: $measureFontSizingFontSizeFontsizesCore3;    
$measureFontSizingFontSizeFontsizesSemanticFeedbackM: $measureFontSizingFontSizeFontsizesCore4;    
$measureFontSizingFontSizeFontsizesSemanticFeedbackL: $measureFontSizingFontSizeFontsizesCore5;    
$measureFontSizingFontSizeFontsizesSemanticFeedbackXl: $measureFontSizingFontSizeFontsizesCore6;    
$measureFontSizingFontSizeFontsizesSemanticStatusS: $measureFontSizingFontSizeFontsizesCore3;    
$measureFontSizingFontSizeFontsizesSemanticStatusM: $measureFontSizingFontSizeFontsizesCore4;    
$measureFontSizingFontSizeFontsizesSemanticStatusL: $measureFontSizingFontSizeFontsizesCore5;    
$measureFontSizingFontSizeFontsizesSemanticStatusXl: $measureFontSizingFontSizeFontsizesCore6;    
$measureFontSizingFontSizeFontsizesSemanticNavigationXxs: $measureFontSizingFontSizeFontsizesCore1;    
$measureFontSizingFontSizeFontsizesSemanticNavigationXs: $measureFontSizingFontSizeFontsizesCore1;    
$measureFontSizingFontSizeFontsizesSemanticNavigationS: $measureFontSizingFontSizeFontsizesCore1;    
$measureFontSizingFontSizeFontsizesSemanticNavigationM: $measureFontSizingFontSizeFontsizesCore2;    
$measureFontSizingFontSizeFontsizesSemanticNavigationL: $measureFontSizingFontSizeFontsizesCore3;    
$measureFontSizingFontSizeFontsizesSemanticNavigationXl: $measureFontSizingFontSizeFontsizesCore4;    
$measureFontSizingFontSizeFontsizesSemanticNavigationXxl: $measureFontSizingFontSizeFontsizesCore7;    
$measureFontSizingFontSizeFontsizesSemanticNavigationXxxl: $measureFontSizingFontSizeFontsizesCore8;    
$measureBorderWidthBorderWidthBorderwidthsSemanticActions: $measureBorderWidthBorderWidthBorderwidthsCore1;    
$measureBorderWidthBorderWidthBorderwidthsSemanticInputs: $measureBorderWidthBorderWidthBorderwidthsCore1;    
$measureBorderWidthBorderWidthBorderwidthsSemanticStatus: $measureBorderWidthBorderWidthBorderwidthsCore1;    
$measureBorderWidthBorderWidthBorderwidthsSemanticFeedback: $measureBorderWidthBorderWidthBorderwidthsCore1;    
$measureBorderWidthBorderWidthBorderwidthsSemanticNavigation: $measureBorderWidthBorderWidthBorderwidthsCore2;    
$measureBorderWidthBorderWidthBorderwidthsSemanticSlider: $measureBorderWidthBorderWidthBorderwidthsCore4;    
$measureBorderWidthBorderWidthBorderwidthsSemanticFocus: $measureBorderWidthBorderWidthBorderwidthsCore4;    
$measureBorderRadiusBorderRadiusBorderradiusSemanticInputs: $measureBorderRadiusBorderRadiusBorderradiusCore2;    
$measureBorderRadiusBorderRadiusBorderradiusSemanticActions: $measureBorderRadiusBorderRadiusBorderradiusCore2;    
$measureFontSizingXxs: $measureFontSizingFontSizeFontsizesCore3;    
$measureBorderRadiusBorderRadiusBorderradiusSemanticUiDefault: $measureBorderRadiusBorderRadiusBorderradiusCore2;    
$measureBorderRadiusBorderRadiusBorderradiusSemanticUiNone: $measureBorderRadiusBorderRadiusBorderradiusCore0;    
$measureSpacingSpacingSpacingsSemanticUiXlPaddingTop: $measureSpacingSpacingSpacingsCore08;    
$measureSpacingSpacingSpacingsSemanticUiXlPaddingBottom: $measureSpacingSpacingSpacingsCore08;    
$measureSpacingSpacingSpacingsSemanticUiXlPaddingLeft: $measureSpacingSpacingSpacingsCore08;    
$measureSpacingSpacingSpacingsSemanticUiXlPaddingRight: $measureSpacingSpacingSpacingsCore08;    
$measureSpacingSpacingSpacingsCompAccordionLargePaddingLeft: $measureSpacingSpacingSpacingsSemanticInputsLargePaddingLeft;    
$measureSpacingSpacingSpacingsCompAccordionLargePaddingRight: $measureSpacingSpacingSpacingsSemanticInputsLargePaddingRight;    
$measureSpacingSpacingSpacingsCompAccordionLargePaddingTop: $measureSpacingSpacingSpacingsSemanticInputsLargePaddingTop;    
$measureSpacingSpacingSpacingsCompAccordionLargePaddingBottom: $measureSpacingSpacingSpacingsSemanticInputsLargePaddingBottom;    
$measureSpacingSpacingSpacingsCompAccordionLargeSpacingBetween: $measureSpacingSpacingSpacingsSemanticUiSSpaceBetween;    
$measureSpacingSpacingSpacingsCompAccordionIconsPaddingLeft: $measureSpacingSpacingSpacingsSemanticInputsLargePaddingLeft;    
$measureSpacingSpacingSpacingsCompAccordionIconsPaddingRight: $measureSpacingSpacingSpacingsSemanticInputsLargePaddingRight;    
$measureSpacingSpacingSpacingsCompAccordionIconsPaddingTop: $measureSpacingSpacingSpacingsSemanticInputsMediumPaddingTop;    
$measureSpacingSpacingSpacingsCompAccordionIconsPaddingBottom: $measureSpacingSpacingSpacingsSemanticInputsMediumPaddingBottom;    
$measureSpacingSpacingSpacingsCompAccordionMediumPaddingLeft: $measureSpacingSpacingSpacingsSemanticInputsMediumPaddingLeft;    
$measureSpacingSpacingSpacingsCompAccordionMediumPaddingRight: $measureSpacingSpacingSpacingsSemanticInputsMediumPaddingRight;    
$measureSpacingSpacingSpacingsCompAccordionMediumPaddingTop: $measureSpacingSpacingSpacingsSemanticInputsMediumPaddingTop;    
$measureSpacingSpacingSpacingsCompAccordionMediumPaddingBottom: $measureSpacingSpacingSpacingsSemanticInputsMediumPaddingBottom;    
$measureSpacingSpacingSpacingsCompAccordionSmallSpacingBetween: $measureSpacingSpacingSpacingsSemanticUiXsSpaceBetween;    
$measureSpacingSpacingSpacingsCompAccordionSmallPaddingLeft: $measureSpacingSpacingSpacingsSemanticInputsMediumPaddingLeft;    
$measureSpacingSpacingSpacingsCompAccordionSmallPaddingRight: $measureSpacingSpacingSpacingsSemanticInputsMediumPaddingRight;    
$measureSpacingSpacingSpacingsCompAccordionSmallPaddingTop: $measureSpacingSpacingSpacingsSemanticInputsSmallPaddingTop;    
$measureSpacingSpacingSpacingsCompAccordionSmallPaddingBottom: $measureSpacingSpacingSpacingsSemanticInputsSmallPaddingTop;    
$measureSizingSizingSizesCompAccordionIconsLarge: $measureSizingSizingSizesSemanticActionsIconSizeMedium;    
$measureSizingSizingSizesCompAccordionIconsMedium: $measureSizingSizingSizesSemanticActionsIconSizeMedium;    
$measureSizingSizingSizesCompAccordionIconsSmall: $measureSizingSizingSizesSemanticActionsIconSizeMedium;    
$measureSizingSizingSizesCompAccordionLarge: $measureSizingSizingSizesSemanticComponentExtraLarge;    
$measureSizingSizingSizesCompAccordionMedium: $measureSizingSizingSizesSemanticComponentLarge;    
$measureSizingSizingSizesCompAccordionSmall: $measureSizingSizingSizesSemanticComponentMedium;    
$measureBorderWidthBorderWidthBorderwidthsCompAccordionDefault: $measureBorderWidthBorderWidthBorderwidthsSemanticInputs;    
$measureBorderWidthBorderWidthBorderwidthsCompAccordionOpen: $measureBorderWidthBorderWidthBorderwidthsSemanticNavigation;    
$measureBorderRadiusBorderRadiusBorderradiusCompAccordion: $measureBorderRadiusBorderRadiusBorderradiusSemanticUiNone;    
