.accordion-item--large {
    /*border-top: 2px solid #0072CE;*/
    width: 450px;
    justify-content: left;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-size: 18px;
    border-bottom: 1px solid #D0D0D0;
    font-family:"TUV SUD Pro Regular", Arial;
}

.accordion-item--medium {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    width: 450px;
    justify-content: left;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D0D0D0;
    font-family: "TUV SUD Pro Regular", Arial;
}

.accordion-item--small {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    width: 450px;
    justify-content: left;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D0D0D0;
    font-family: "TUV SUD Pro Regular", Arial;
}


.accordion-item.open{
    border-top: 2px solid #0072CE;
}

.accordion-item.open .accordion-item-header{
    font-family: "TUV SUD Pro Medium", Arial;
    font-weight: 600;

}

.accordion-item-header{
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-item-header svg{
    float:right;
    transition: all 0.2s linear;
}

.accordion-item-header svg.rotate{
    transform: rotate(-180deg)
}

.accordion-item-body{
    height: 0;
    overflow: hidden;
    transition: all .2s ease-in;
}

.accordion-item-body.active{
    height: 120px;
}

/*.accordion-item-body.active p{
    opacity: 1;
}

.accordion-item-body p{
    opacity: 0;
    transition: opacity .3s linear .18s;
}*/